<div id="contain" >
    <div class="container-fluid" lang="en" data-translate-catalog="auth/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-key">&nbsp;</i>Change password <small><?merge accountName ?></small></h1>
        </div>
    </div>

    <div class="container-fluid dataForm" data-form-ns="contact" lang="en" data-translate-catalog="auth/messages"> 
        <div class="row">
            <div class="col-xs-6">
                <form class="well form-horizontal">
                    <input type="hidden" id="userName" name="userName" value="[?merge accountName ?]">
                    <div class="form-group">
                        <label class="col-md-4 control-label">Old password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" placeholder="Old password">
                        </div>
                    </div>
                    <div class="form-group newPassword">
                        <label class="col-md-4 control-label">New password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New password">
                        </div>
                    </div>
                    <div class="form-group newPassword">
                        <label class="col-md-4 control-label">Comfirm password</label>
                        <div class="col-md-8">
                            <input type="password" class="form-control" id="confirmPassword" name="comfrimPassword" placeholder="Comfirm password">
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            <button type="button" id="cancelChangePassword" class="btn btn-warning" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                            <button type="button" id="changePassword" class="btn btn-success" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $("#cancelChangePassword").on('click', function () {
        window.history.back();
    });
    
    $("#changePassword").on('click', function () {
        var accountName = $('#userName').val();
        var oldPassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();

        var parameters = {
            accountName: accountName,
            oldPassword: oldPassword,
            newPassword: newPassword,
            requestPath: document.location.pathname,
        };
        if ($('.newPassword').hasClass('has-success')) {
            $.ajax({
                type        : "PUT",
                url         : "/user/definePassword",
                contentType : 'application/json',
                dataType    : 'json',
                data        : JSON.stringify(parameters),
                async       : false,
                success     : function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status) {
                        window.history.back();
                    }
                },
                error       : function (response) {
                    gritter.show(response.responseText, false);
                }
            });
        }
    })

    $("#confirmPassword").on('change', function () {
        var newPassword = $('#newPassword').val();
        var confirmPassword = $('#confirmPassword').val();

        if (newPassword == '' && confirmPassword == '') {
            $('.newPassword').removeClass('has-error').removeClass('has-success');
        } else if (newPassword != confirmPassword) {
            $('.newPassword').addClass('has-error').removeClass('has-success');
        } else {
            $('.newPassword').addClass('has-success').removeClass('has-error');
        }

    })

    function resetForm() {
        $('input').val('');
    }
</script>