<div data-translate-catalog="businessExpenses/customer">
    <div class="container-fluid">
        <div class="page-header">
            <?merge customer.customerId.ifeq('') ?>
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Edit a new customer
            </h1>
            <?merge customer.customerId.ifne('') ?>
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Modify a customer
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-6 col-lg-5">
            <?merge customer ?>
            <form class="well" id="formCustomer">
                <input type="hidden"name="customerId" id="customerId" value="" />
                <div class="form-group">
                    <label for="code">Code<span style="color: red">&nbsp;*</span></label>
                    <?merge customer.customerId.ifne('').then("") @disabled ?>
                    <input type="text" class="form-control" name="code" id="code" />
                </div>
                <div class="form-group">
                    <label for="name">Name<span style="color: red">&nbsp;*</span></label>
                    <input type="text" class="form-control" name="name" id="name" />
                </div>
            </form>
            <div class="clearfix">
                <div class="pull-right" id="customerBtnGrp">
                    <button type="button" class="btn btn-warning" data-cancel="" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                    <?merge customer.customerId.ifeq('') ?>
                    <button type="button" class="btn btn-success" id="createCustomer" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                    <?merge customer.customerId.ifne('') ?>
                    <button type="button" class="btn btn-success" id="updateCustomer" title="Modify"><i class="fa fa-edit">&nbsp;</i>Modify</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none">
        <span id="empty_text">The fields with a star are compulsory.</span>
        <span id="pattern_text">Invalid value : Code must start with alphabetic characters or underscore and contain only alphanumeric or underscores</span>
    </div>
</div>

<script>
    $(document).ready(function () {
        // CREATE
        $('#createCustomer').on('click', function () {
            if ($("#name").val() == "" || $("#code").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }

            if(!$("#code").val().match(/[A-Za-z_][A-Za-z0-9_]*/) || $("#code").val().indexOf(" ") >= 0) {
                gritter.show($("#pattern_text").text(), false);
                return;
            }
            
            $(this).prop("disabled", true);
           
            var parameters = {
                customer : serializeCustomer()
            }
            
            $.ajax({
                type: "POST",
                url: '/customer',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/customer/index");
                    }
                }
            });
            $(this).prop("disabled", false);
        });
        
        // UPDATE
        $('#updateCustomer').on('click', function () {
            if ($("#name").val() == "" || $("#code").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            
            $(this).prop("disabled", true);
           
            var parameters = {
                customer : serializeCustomer()
            }
            
            //console.log(parameters);return;
            
            $.ajax({
                type: "PUT",
                url: '/customer',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/customer/index");
                    }
                }
            });
            $(this).prop("disabled", false);
        });
        
        $('#customerBtnGrp').on('click', '[data-cancel]', function () {
            load("/customer/index");
        });

        function serializeCustomer() {
            var customer = new Object();
            customer.customerId = $("#customerId").val();
            customer.code = $("#code").val();
            customer.name = $("#name").val();

            return customer;
        }
    });

</script>
