<div id="contain" data-translate-catalog="businessExpenses/customer">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-globe"></i>
                Customers
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>[?merge customers.count() ?] <span>customer(s)</span></h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="btnNewCustomer" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="listCustomer" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge customers ?>
                                <tr id="[?merge .customerId ?]">
                                    <td><?merge .code ?></td>
                                    <td><?merge .name ?></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="editCustomer btn btn-warning" data-customerId="[?merge .customerId ?]" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <button type="button" class="deleteCustomer btn btn-danger" data-customerId="[?merge .customerId ?]" title="Delete">
                                                <span class="fa fa-fw fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">

//add
$("#btnNewCustomer").on('click', function() {
    load("/customer/new");
});

//edit
$("#listCustomer").on('click', '.editCustomer', function() {
    var customerId = $(this).attr("data-customerId");

    load("/customer/"+customerId);
});

//delete
$("#listCustomer").on('click', '.deleteCustomer', function() {
    var customerId = $(this).attr("data-customerId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "DELETE",
        url: '/customer/'+customerId,
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/customer/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

</script>