<div data-translate-catalog="businessExpenses/project">
    <div class="container-fluid">
        <div class="page-header">
            <?merge project.projectId.ifeq('') ?>
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Edit a new project
            </h1>
            <?merge project.projectId.ifne('') ?>
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Modify a project
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-8 col-lg-5">
            <?merge project ?>
            <form class="well" id="formProject">
                <input type="hidden"name="projectId" id="projectId" value="" />
                <div class="form-group">
                    <label for="code">Code<span style="color: red">&nbsp;*</span></label>
                    <?merge project.projectId.ifne('').then("") @disabled ?>
                    <input type="text" class="form-control" name="code" id="code" />
                </div>
                <div class="form-group">
                    <label for="name">Name<span style="color: red">&nbsp;*</span></label>
                    <input type="text" class="form-control" name="name" id="name" />
                </div>
                <div class="form-group">
                    <label for="rebilling">Rebilling<span>&nbsp;&nbsp;</span></label>
                    <input type="checkbox" class="" name="rebilling" id="rebilling"> 
                </div>
                <div class="form-group">
                    <label for="customerId">Customer</label>
                    <select class="form-control" name="customerId" id="customerId">
                        <option value=""></option>
                        <?merge customers ?>
                        <option value="[?merge .customerId ?]"><?merge .name ?></option>
                    </select>
                </div>
            </form>
            <div class="clearfix">
                <div class="pull-right" id="projectBtnGrp">
                    <button type="button" class="btn btn-warning" data-cancel="" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                    <?merge project.projectId.ifeq('') ?>
                    <button type="button" class="btn btn-success" id="createProject" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                    <?merge project.projectId.ifne('') ?>
                    <button type="button" class="btn btn-success" id="updateProject" title="Modify"><i class="fa fa-edit">&nbsp;</i>Modify</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none">
        <span id="empty_text">The fields with a star are compulsory.</span>
        <span id="pattern_text">Invalid value : Code must start with alphabetic characters or underscore and contain only alphanumeric or underscores</span>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#rebilling").bootstrapToggle();
        
        // CREATE
        $('#createProject').on('click', function () {
            if ($("#name").val() == "" || $("#code").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            
            if(!$("#code").val().match(/[A-Za-z_][A-Za-z0-9_]*/) || $("#code").val().indexOf(" ") >= 0) {
                gritter.show($("#pattern_text").text(), false);
                return;
            }
            $(this).prop("disabled", true);
           
            var parameters = {
                project : serializeProject()
            }
            
            $.ajax({
                type: "POST",
                url: '/project',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/project/index");
                    }
                }
            });
            $(this).prop("disabled", false);
        });
        
        // UPDATE
        $('#updateProject').on('click', function () {
            if ($("#name").val() == "" || $("#code").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            
            $(this).prop("disabled", true);
           
            var parameters = {
                project : serializeProject()
            }
            
            $.ajax({
                type: "PUT",
                url: '/project',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/project/index");
                    }
                }
            });
            $(this).prop("disabled", false);
        });
        
        $('#projectBtnGrp').on('click', '[data-cancel]', function () {
            load("/project/index");
        });

        function serializeProject() {
            var project = new Object();
            project.projectId = $("#projectId").val();
            project.code = $("#code").val();
            project.name = $("#name").val();
            project.rebilling = $("#rebilling").prop("checked");
            project.customerId = $("#customerId :selected").val();

            return project;
        }
    });

</script>
