<div id="contain" data-translate-catalog="businessExpenses/project">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-briefcase"></i>
                Projects
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>[?merge projects.count() ?] <span>project(s)</span></h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="btnNewProject" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="listProject" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Rebilling</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge projects ?>
                                <tr id="[?merge .projectId ?]">
                                    <td><?merge .code ?></td>
                                    <td><?merge .name ?></td>
                                    <?merge .rebilling.bool() ?>
                                    <td><span class="fa fa-check text-success"></span></td>
                                    <?merge .rebilling.bool().not() ?>
                                    <td><span class="fa fa-remove text-danger"></span></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="editProject btn btn-warning" data-projectId="[?merge .projectId ?]" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <button type="button" class="deleteProject btn btn-danger" data-projectId="[?merge .projectId ?]" title="Delete">
                                                <span class="fa fa-fw fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">

//add
$("#btnNewProject").on('click', function() {
    load("/project/new");
});

//edit
$("#listProject").on('click', '.editProject', function() {
    var projectId = $(this).attr("data-projectId");

    load("/project/"+projectId);
});

//delete
$("#listProject").on('click', '.deleteProject', function() {
    var projectId = $(this).attr("data-projectId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "DELETE",
        url: '/project/'+projectId,
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/project/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

</script>