<div id="contain" >
    <div class="container-fluid" data-translate-catalog="auth/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-users"></i>
                Edit service account
            </h1>
        </div>
    </div>
    <div class="container-fluid" data-translate-catalog="auth/messages">
        <?merge serviceAccount ?>
        <form>
            <div class="row">
                <div class="col-md-5">
                    <input type="hidden" name="accountId" id="serviceAccountId"/>
                    <div class="form-group">
                        <label class="control-label" for="accountName">Name<span style="color : red">*</span></label>
                        <div>
                            <input type="text" class="form-control" placeholder="Name" name="accountName" id="accountName" value=""/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="serviceOrgId">Organization<span style="color : red">*</span></label>
                        <div>
                            <select class="form-control" name="orgId" id="serviceOrgId">
                                <option></option>
                                <?merge organizations ?>
                                <option value="[?merge .orgId ?]" name="orgId"><?merge .displayName ?></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="serviceEnabled">Enabled</label>
                        <div>
                            <input type="checkbox" class="form-control" name="enabled" id="serviceEnabled" data-toggle="toggle"/>
                        </div>
                    </div>
                    <div class="clearfix pull-right">
                        <button type="button" class="btn btn-warning" id="cancelServiceAccount" title="Cancel">
                            <span class="fa fa-undo">&nbsp;</span>Cancel
                        </button>
                        <?merge serviceAccount.accountId.bool() ?>
                        <button type="button" class="btn btn-success" id="submitServiceAccount" title="Modify">
                            <span class="fa fa-save">&nbsp;</span>Save
                        </button>
                        <?merge serviceAccount.accountId.bool().not() ?>
                        <button type="button" class="btn btn-success" id="submitServiceAccount" title="Save">
                            <span class="fa fa-plus">&nbsp;</span>Add
                        </button>
                    </div>
                </div>
                <?merge serviceAccount.accountId.bool() ?>
                <div class="col-md-7">
                    <div class="col-xs-7 well">
                        <button type="button" class="btn btn-link" id="tokenRegenerate" title="Generate">
                            <span class="fa fa-refresh">&nbsp;</span>Generate token
                        </button>
                        <div class="input-group col-xs-12">
                            <textarea id="serviceToken" class="text-primary col-xs-12" rows="5" style="resize: none; resize: vertical" readonly=""></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="/public/dependency/html/js/bootstrap-toggle/bootstrap2-toggle.js"></script>
<div style="display:none">
    <span id="empty_text">The fields with a star are compulsory.</span>
</div>
<script type="application/javascript">
    
    //save
    $("#submitServiceAccount").on("click", function(){
        
        
        var url = '/serviceAccount';
        var type = 'POST';

        if($('#serviceAccountId').val() != "") {
            type = 'PUT';
        }

        var param = new Object();
        var serviceAccount = new Object();
        
        serviceAccount.accountId = $("#serviceAccountId").val();
        serviceAccount.accountName = jQuery.trim($("#accountName").val());
        serviceAccount.displayName = serviceAccount.accountName;
        serviceAccount.emailAddress = '';
        //serviceAccount.orgId = $("#serviceOrgId").val();
        serviceAccount.enabled = false;
        orgId = $("#serviceOrgId").val();
        
        if(serviceAccount.displayName == "" || orgId == "") {
             gritter.show($('#empty_text').html(),false);
             return false;
        }
        
        var param = {
            serviceAccount : serviceAccount,
            orgId : orgId
        };
        
        if ($("#serviceEnabled").prop("checked")) {
            serviceAccount.enabled = true;
        }
        
        $.ajax({
            url         : url,
            type        : type,
            data        : JSON.stringify(param),
            contentType : 'application/json',
            dataType    : "json",
            success  : function(response){
                gritter.show(response.message, response.status, response.errors);
                if(response.status) {
                    load("/serviceAccount/list");
                };
            },
            error    : function(response) {
                gritter.show(response.responseText, false);
            }
        });
    });
    
    //Cancel
    $("#cancelServiceAccount").on("click", function(){
        load("/serviceAccount/list");
    });
    
    //Cancel
    $("#tokenRegenerate").on("click", function(){
        
        $.ajax({
            url         : "/Servicetoken",
            type        : "POST",
            data        : {
                serviceName : $("#accountName").val()
            },
            dataType    : "json",
            success  : function(response){
                $('#serviceToken').text(response);
            },
            error    : function(response) {
                gritter.show(response.responseText, false);
            }
        });
    });

</script>