<div id="contain" >
    <div class="container-fluid" data-translate-catalog="auth/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-users"></i>
                Manage service account
            </h1>
        </div>
    </div>
    <div class="container-fluid" data-translate-catalog="auth/messages">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4><?merge serviceAccounts.count() ?> Service account(s)</h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="addServiceAccount" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" style="margin: 0;" id="list-serviceAccount">
                            <thead>
                                <tr>
                                    <th>Service name</th>
                                    <th>Enabled</th>
                                    <th>Token date</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge serviceAccounts ?>
                                <tr id ="[?merge .accountId ?]">
                                    <td><?merge .accountName ?></td>
                                    <td>
                                        <?merge .enabled.not() ?><i class="fa fa-ban"></i>
                                        <?merge .enabled.ifne(false) ?><i class="fa fa-check"></i>
                                    </td>
                                    <td><?merge .tokenDate ?></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="btn btn-info edit" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <?merge .enabled.not() ?>
                                            <button type="button" class="btn btn-danger enable" title="Enable">
                                                <span class="fa fa-fw fa-check"></span>
                                            </button>
                                            <?merge .enabled.ifne(false) ?>
                                            <button type="button" class="btn btn-danger disable" title="Disable">
                                                <span class="fa fa-fw fa-times"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    //add
    $("#addServiceAccount").on("click", function(){
        load("/serviceAccount/new");
    });
    
    //edit
    $("#list-serviceAccount").on('click', '.edit', function() {
        var serviceAccountId = $(this).closest('tr').attr('id');
        load("/serviceAccount/edit/"+serviceAccountId);
    });
    
    //enable
    $("#list-serviceAccount").on('click', '.enable', function() {
        $.ajax({
            url         : "/serviceAccount/enable/" + $(this).closest('tr').attr("id"),
            type        : "PUT",
            dataType    : "json",
            success  : function(response){
                gritter.show(response.message, response.status, response.errors);
                load("/serviceAccount/list");
            },
            error    : function(response) {
                gritter.show(response.responseText, false);
            }
        });
    });

    //disable
    $("#list-serviceAccount").on('click', '.disable', function() {
        $.ajax({
            url         : "/serviceAccount/disable/" + $(this).closest('tr').attr('id'),
            type        : "PUT",
            dataType    : "json",
            success  : function(response){
                gritter.show(response.message, response.status, response.errors);
                load("/serviceAccount/list");
            },
            error    : function(response) {
                gritter.show(response.responseText, false);
            }
        });
    });
    
</script>