<!--#
    This file is part of the auth package.
    (c) Maarch Prosper DE LAURE <prosper.delaure@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="contain">
<div class="container-fluid" data-translate-catalog="auth/messages">
    <div class="page-header">
        <h1>
            <i class="fa fa-group"></i>
            <?merge role.roleId.bool() ?>
            <span>Edit role</span>
            <?merge role.roleId.bool().not() ?>
            <span>New role</span>
            <small><?merge role.roleName ?></small>
        </h1>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="auth/messages">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Informations</div>
                <div class="panel-body">
                    <?merge role ?>
                    <form id="roleInformation">
                        <input type="hidden" id="roleId" name="roleId"/>
                        <div class="form-group">
                            <label>Role name<span style="color : red">*</span></label>
                            <input type="text" class="form-control" name="roleName" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"><span>Administrator</span>&nbsp;
                            <?merge role.superadmin @checked ?>
                                <input type="checkbox" name="superadmin" id="superadmin" data-toggle="toggle"> 
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" name="description"></textarea>
                        </div>
                        <div class="form-group">
                            <div class="btn-group" data-toggle="buttons" id="roleStatus">
                                <label class="btn btn-info [?merge .enabled.then('', 'active') ?]" title="Enabled">
                                    <input type="radio" name="enabled" value="1"><i class="fa fa-unlock">&nbsp;</i> Enabled
                                </label>
                                <label class="btn btn-danger [?merge .enabled.then('active', '') ?]" title="Disabled">
                                    <input type="radio" name="enabled" value="0"><i class="fa fa-lock">&nbsp;</i> Disabled
                                </label>
                            </div>
                        </div>
                    </form>
                    <div class="clearfix" id="buttonInformation">
                        <div class="pull-right ">
                            <button type="button" id="cancel" class="btn btn-warning" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                            <button type="button" id="submit" class="btn btn-success" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs nav-justified">
                <li id="roleMembersTabBtn" class="active"><a href="#roleMembersTab" data-toggle="tab">Role members</a></li>
                <li id="privilegesTabBtn" class="[?merge role.superadmin.then('disabled', '') ?]"><a href="#privilegesTab" data-toggle="[?merge role.superadmin.then('', 'tab') ?]">Role privileges</a></li>
                <!--li id="rulesTabBtn" class="[?merge role.superadmin.then('disabled', '') ?]"><a href="#rulesTab" data-toggle="[?merge role.superadmin.then('', 'tab') ?]">Access rules</a></li-->
            </ul>
            <div class="panel panel-primary" style="border-top-left-radius: 0; border-top-right-radius: 0; border-top: none;">
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="roleMembersTab" >
                            <h3>Role members</h3>
                            <div class="form-group">
                                <div class="input-group">
                                    
                                    <input type="text" class="form-control" placeholder="User" id="userTypeahead"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-success" type="button" id="addMember" title="Add"><i class="fa fa-plus fa-fw"></i>&nbsp;</button>
                                    </span>
                                </div>
                            </div>
                            <div id="members" class="col-xs-12" translate="no">
                                <?merge role.roleMembers.bool() ?>
                                <div>
                                    <?merge role.roleMembers ?>
                                    <div>
                                        <?merge . ?>
                                        <div class="input-group">
                                            <input type="text" class="form-control" value="[?merge .displayName ?]" data-memberid="[?merge .accountId ?]" readOnly="true">
                                            <span class="input-group-btn">
                                                <button class="btn btn-danger removeMembre" type="button" data-userid="[?merge .accountId ?]" title="Remove">
                                                    <i class="fa fa-trash-o fa-fw"></i>&nbsp;
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="privilegesTab" >
                            <h3>Privileges</h3>
                            <div class="panel-group" id="privileges" role="tablist" aria-multiselectable="true">
                                <?merge userStories ?>
                                <div class="panel panel-default" data-translate-catalog="auth/messages">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <div class="btn-group" data-toggle="buttons" >
                                                <label class="userStoryGroup btn btn-toggle btn-danger [?merge .privilegeStatus.then('active', '') ?]" title="All">
                                                    <?merge .privilegeStatus @checked ?>
                                                    <input type="checkbox" class="userStoryGroupRadioBtn" value='[?merge .name ?]/*'><small style="color:white">All</small>
                                                </label>
                                                &nbsp;
                                            </div>
                                            <a data-translate-context="userStoryGroup" data-toggle="collapse" data-parent="#privileges" href="#[?merge .name ?]_privilege" aria-expanded="false" aria-controls="[?merge .name ?]_privilege">
                                               <?merge .name ?>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="[?merge .name ?]_privilege" class="panel-collapse collapse out" role="tabpanel">
                                        <div class="panel-body">
                                            <ul class="list-group">
                                                <?merge .userStory?>
                                                <li class="list-group-item" data-translate-context="userStory">
                                                    <div class="btn-group" data-toggle="buttons" >
                                                        <label class="userStory btn btn-toggle [?merge .status.then('btn-success active', 'btn-danger') ?] [?merge .bundleChecked.then('disabled', '') ?]" title="On / Off">
                                                            <?merge .status @checked ?>
                                                            <input type="checkbox" class="userStoryRadioBtn" value='[?merge .value ?]'/><span class="label"><?merge .status.then("On" , "Off") ?></span>
                                                        </label>
                                                    </div> 
                                                    <span><?merge .name ?></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade in" id="rulesTab" >
                            <h3>Rules</h3>
                            <!--div id="rulesTree" class="tree"-->
                                <!-- Tree of rules goes here -->
                            <div class="panel-group" id="rules" role="tablist" aria-multiselectable="true" data-translate-catalog="[?merge .name ?]/messages">
                                <?merge bundles ?>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab">
                                        <h4 class="panel-title">
                                            <div class="btn-group" data-toggle="buttons" >
                                                <label class="userStoryGroup userStoryGroup btn btn-toggle btn-danger [?merge .ruleStatus.then('active', '') ?]" title="All">
                                                    <?merge .ruleStatus @checked ?>
                                                    <input type="checkbox" class="userStoryGroupRadioBtn" value='[?merge .value ?]'><small style="color:white">All</small>
                                                </label>
                                                &nbsp;
                                            </div>
                                            <a data-translate-context="bundle" data-toggle="collapse" data-parent="#rules" href="#[?merge .name ?]_rule" aria-expanded="false" aria-controls="[?merge .name ?]_rule">
                                                <?merge .name ?>
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="[?merge .name ?]_rule" class="panel-collapse collapse out" role="tabpanel">
                                        <div class="panel-body">
                                            <ul class="list-group">
                                            <?merge .class ?>
                                                <li class="list-group-item">
                                                    <span data-translate-context="model"><?merge .name ?><span>
                                                    <div class="pull-right">
                                                        <i class="fa fa-plus-circle showContext" style="display:[?merge .status.then('', 'none') ?]; cursor:pointer; color:silver">&nbsp;</i>
                                                        <div class="btn-group" data-toggle="buttons" >
                                                            <label class="objectRadio btn btn-toggle [?merge .status.then('btn-success active', 'btn-danger') ?] [?merge .bundleChecked.then('disabled', '') ?]" title="On / Off">
                                                                <?merge .status @checked ?>
                                                                <input type="checkbox" class="objectRadioBtn" value='[?merge .value ?]'><div class="label"><?merge .status.then("On" , "Off") ?></div>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group contextArea" style="display:none">
                                                        <textarea class="form-control"><?merge .context ?></textarea>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div style="display:none">
    <span id="empty_text">The fields with a star are compulsory.</span>
</div>
<script type="text/javascript">
    $(function() {
        $('input[type=checkbox][data-toggle=toggle]').bootstrapToggle()
    })

    window.localStorage.clear();

    $(document).ready(function(){

        $('.userStoryGroup.active').addClass('btn-success').removeClass('btn-danger');

        $('.userStoryGroup').not('.active').each(function(){

            if ($(this).closest('.panel').find('.userStory.active').length > 0) {
                $(this).removeClass('btn-danger').addClass('btn-warning');
            }
        })
        
        //$('.userStoryGroup.active').closest('.panel').find('.objectRadio').addClass('disabled').addClass('btn-success').removeClass('btn-danger').find('.label').html('On ');

        // Define data source for user typeahead
        var users = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {url: '/userAccount/todisplay', ttl: '0'},
            limit: 100
        });
        users.initialize();

        // initialize typeahead
        $('#userTypeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 2
            }, 
            {
                name: 'users',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>No user found</span>";
                    },
                    suggestion: function(user) {
                        var display = 
                            "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>" 
                                + user.displayName
                                + "</span>"
                                + "</span>";

                        return display;
                    }
                },
                source: function(query, cb) {
                    users.get(query, function(suggestions) {
                        var i = suggestions.length
                        while (i--) {
                            // if ($.inArray(suggestions[i].puid, boundFormats()) > -1)
                            if ($('#members').find('[data-memberid="'+ suggestions[i].accountId +'"]').length)
                                suggestions.splice(i, 1);
                        }
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#userTypeahead").prop('user', suggestion);
        });
    })

    //superadmin
    $("#superadmin").on('click', function() {
        if ($(this).is(':checked')) {
            $('#roleMembersTabBtn').find('a').click();
            $('#privilegesTabBtn').addClass('disabled').find('a').attr('data-toggle', '');
            $('#rulesTabBtn').addClass('disabled').find('a').attr('data-toggle', '');
        } else {
            $('#privilegesTabBtn').removeClass('disabled').find('a').attr('data-toggle', 'tab');
            $('#rulesTabBtn').removeClass('disabled').find('a').attr('data-toggle', 'tab');
        }
    })
    
    //cancel
    $("#cancel").on('click', function() {
        load("/auth/role/index");
        
    })

    //submit
    $('#submit').on('click', function() {
        var url = '/auth/role';
        var type = 'POST';

        if($('#roleId').val()){
            type = 'PUT';
            url += '/' + $('#roleId').val();
        }
        
        var parameters = {
            role : serialize()
        };
        
        if(parameters.role.roleName == "") {
             gritter.show($('#empty_text').html(),false);
             return false;
        }
        
        $.ajax({
            url: url,
            type: type,
            data: JSON.stringify(parameters),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status) {
                   load("/auth/role/index");
                }
            },
            error: function(response) {
                gritter.show(response.responseText, false);
            }
        })
        $(this).removeProp('disabled');
    })

    /* ROLE MEMBERS */
    //add members
    $("#addMember").on('click', function() {
        if(suggestion = $("#userTypeahead").prop('user')) {
            addroleMember(suggestion.displayName, suggestion.accountId);
            $("#userTypeahead").val('');
        }
    })

    //remove members
    $("#members").on('click', '.removeMembre', function() {
        $(this).closest('.input-group').remove();
    })

    /* TREE MANAGEMENT */
    // on/off switches
        
    $("#contain").on('click', '.userStory', function() {
        var panel = $(this).closest('.panel');

        if($(this).hasClass('active')) {
            $(this).addClass('btn-danger').removeClass('btn-success').find('.label').text('Off');

            if (panel.find('.userStory.active').length-1 > 0) {
                panel.find('.userStoryGroup').removeClass('btn-success btn-danger active').addClass('btn-warning').find('userStoryGroupRadioBtn').removeProp('checked');
            } else {
                panel.find('.userStoryGroup').removeClass('btn-warning btn-success active').addClass('btn-danger').find('userStoryGroupRadioBtn').removeProp('checked');
            }
            //$(this).closest('.pull-right').find('i').removeClass("fa-minus-circle").addClass("fa-plus-circle").css('display', 'none');
            //$(this).closest('span').find('.contextArea:first').hide('fast');
            //$(this).find('.objectRadioBtn').removeProp("checked");
        } else {
            $(this).find('.label').text('On');
            $(this).addClass('btn-success').removeClass('btn-danger').find('.objectRadioBtn').prop("checked");
            //$(this).closest('.pull-right').find('i').css('display', '');

            if (panel.find('.userStory').not('.active').length-1 > 0) {
                panel.find('.userStoryGroup').removeClass('btn-success btn-danger active').addClass('btn-warning').find('.userStoryGroupRadioBtn').removeProp('checked');
            } else {
                panel.find('.userStoryGroup').removeClass('btn-warning btn-danger').addClass('btn-success active').find('.userStoryGroupRadioBtn').prop('checked', true);
            }
        }
    })

    $("#contain").on('click', '.userStoryGroup', function() {
        if($(this).hasClass('active')) {
            $(this).removeClass('btn-success').addClass('btn-danger');
            $(this).closest('.panel').find('.userStory').addClass('btn-danger').removeClass('btn-success btn-warning active').find('.label').text('Off');
            $(this).closest('.panel').find('.userStoryRadioBtn').removeProp("checked");
        } else {
            $(this).addClass('btn-success').removeClass('btn-danger btn-warning');
            $(this).closest('.panel').find('.userStory').addClass('btn-success active').removeClass('btn-danger').find('.label').text('On');
            $(this).closest('.panel').find('.userStoryRadioBtn').prop("checked", true);
            //$(this).closest('.panel').find('.contextArea').hide('fast');
            //$(this).closest('.panel').find('i').removeClass("fa-minus-circle").addClass("fa-plus-circle").css('display', 'none');
        }
    })

    //toggle context
    $("#contain").on('click', '.showContext', function(){
        var textarea = $(this).closest('span').find('.contextArea:first');
        if(textarea.is(":visible")) {
            textarea.hide('fast');
            $(this).removeClass("fa-minus-circle").addClass("fa-plus-circle");
        } else {
            textarea.show('fast');
            $(this).removeClass("fa-plus-circle").addClass("fa-minus-circle");
        }
    });

    function serialize() {
        var jsonObject = {
            roleMembers : [],
            privileges : [],
            accessRules : []
        };

        //role
        var properties = $('#roleInformation').find('input[type="text"], input[type="hidden"], textarea');
        $.each(properties, function(){
            jsonObject[$(this).attr('name')] = $(this).val();
        })
        properties = $('#roleStatus').find('.active > input');
        jsonObject[properties.attr('name')] = properties.val();

        //roleMembers
        var roleMembers = $("#members").find('input');
        $.each(roleMembers, function(){
            jsonObject.roleMembers.push($(this).data('memberid'));
        })

        
        if($('#superadmin').prop('checked')){
            jsonObject.privileges.push('*');
            jsonObject.accessRules.push({class : '', context : ''});
        }
        else{
            //privileges
            $('#privileges').find('.userStoryGroupRadioBtn').each(function(){
                if($(this).prop('checked')) {
                    jsonObject.privileges.push($(this).val());
                } else {
                    $(this).closest('.panel').find('.userStoryRadioBtn:checked').each(function(){
                        jsonObject.privileges.push($(this).val());
                    });
                }
            });
            //accessRules
            $('#rules').find('.userStoryGroupRadioBtn').each(function(){
                if($(this).prop('checked')) {
                    jsonObject['accessRules'].push({class : $(this).val(), context : $(this).closest('h4').find('textarea:first').val()});
                } else {
                    $(this).closest('.panel').find('.objectRadioBtn:checked').each(function(){
                        jsonObject['accessRules'].push({class : $(this).val(), context : $(this).closest('span').find('textarea:first').val()});
                    });
                }
            });
        }

        return jsonObject;
    }

    function addroleMember(memberName, memberId) {

        var userTypeahead = $('#userTypeahead');

        var inputGroup = $('<div/>')
            .addClass('input-group')
            .data('memeberid', memberId)
            .appendTo($('#members'));
        
        var input = $('<input/>')
            .addClass('form-control')
            .attr('type', 'text')
            .attr('readonly', 'true')
            .val(memberName)
            .data('memberid', memberId)
            .appendTo(inputGroup);

        var inputGrpBtn = $('<span/>')
            .addClass('input-group-btn')
            .appendTo(inputGroup);

        var btn = $('<button/>')
            .addClass('btn btn-danger removeMembre')                   
            .attr('type', 'button')
            .html("&nbsp;")
            .appendTo(inputGrpBtn);

        var icon = $('<i/>')
            .addClass('fa fa-trash-o fa-fw')
            .prependTo(btn);
    }

</script>