<div id="user_RoleContain">
    <form class="">
        <div class="row">
                <div class="col-md-12">
                    <br/>
                    <div class="form-group">
                        <label>Role</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="roleTypeahead" data-role data-rolesids="[?merge user.rolesIds.implode(',') ?]"/>
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="button" id="addRole" title="Add"><i class="fa fa-plus fa-fw"></i>&nbsp;</button>
                            </span>
                        </div>
                    </div>
                </div>

            <div id="members" class="col-xs-12">
                <div class="form-group">
                    <ul class="list-group" id="role_roleList">
                        <?merge user.roles.bool() ?>
                        <?merge user.roles ?>
                        <li id="[?merge .roleId ?]" class="list-group-item clearfix">
                            <?merge .roleName ?>
                            <span class="pull-right">
                                <a class="text-danger removeRole" href='#' title="Remove">
                                    <i class="fa fa-times fa-fw">&nbsp;</i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <span class="hide" id="remove_text">Remove</span>
    </form>
</div>

<script>
    $("#user_RoleContain").ready(function () {
        // Define data source for person typeahead
        var rolesSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('roleName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/userAccount/queryRoles/%QUERY',
                ajax: {
                    async: false
                }
            },
            limit: 100
        });
        rolesSource.initialize();

        // initialize typeahead
        $('#roleTypeahead').typeahead(
        {
            hint: true,
            highlight: true,
            minLength: 3
        },
        // data source contacts
        {
            name: 'role',
            displayKey: 'roleName',
            templates: {
                empty: function () {
                    return "<span class='well well-sm'>No role found</span>";
                },
                suggestion: function (role) {
                    var display =
                            "<span>"
                            + "<span class='fa fa-user' >&nbsp;</span>"
                            + "<span style='font-family:Helvetica, sans-serif;'>"
                            + role.roleName;
                    display +=
                            "</span>";
                    display +=
                            "</span>";

                    return display;
                }
            },
            source: function (query, cb) {
                rolesSource.get(query, function (suggestions) {
                    var i = suggestions.length
                    while (i--) {
                        if ($('#role_roleList').find('#'+ suggestions[i].roleId).length)
                                suggestions.splice(i, 1);
                    }
                    cb(suggestions);
                });
            },
            skipCache: true
        }
        ).on('typeahead:selected', function ($event, suggestion, source) {
            $("#roleTypeahead").data('role', suggestion);
        });
    });

    $('#roleTypeahead').on('keyup', function(){
        $("#roleTypeahead").removeData('role');
    })

    // Add role
    $("#addRole").on('click', function () {
        if (suggestion = $("#roleTypeahead").data('role')) {
            addrole(suggestion.roleName, suggestion.roleId);
        }
        $("#roleTypeahead").removeData('role').val('');
    });

    // Remove role
    $("#role_roleList").on('click', '.removeRole', function() {
        $(this).closest('li').remove();
    })


    function addrole(roleName, roleId) {

        var positionList = $('#role_roleList');

        var li = $('<li/>')
            .attr('id', roleId)
            .addClass('list-group-item clearfix')
            .appendTo(positionList)
            .html(roleName);
            
        var span = $('<span/>')
            .addClass('pull-right')
            .appendTo(li)

        var a = $('<a/>')
            .addClass('text-danger removeRole')
            .attr('href', '#')
            .attr('title', $('#remove_text').html())
            .appendTo(span);

        var i = $('<i/>')
            .addClass('fa fa-times fa-fw')
            .html("&nbsp;")
            .appendTo(a);
    }
</script>