<!--#
    This file is part of the registeredMail package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->

<div class="container-fluid">
    <div class="page-header" data-translate-catalog="businessExpenses/welcome">
        <h1>
            Electronic Business Expenses Management
        </h1>
    </div>
</div>
<div class="container-fluid form-horizontal" data-translate-catalog="businessExpenses/welcome">
    <div class="well col-md-6">
        <h1>Welcome <?merge user.displayName?></h1>
        <p>This application allows to manage business expenses.</p>
        <p>Scan the QR code with the mobile application "Business Expenses" for synchronnise your account.</p>
        <br/>
    </div>
    <div class="col-md-6">
        <div id="qrcode" data-token="[?merge token ?]" data-serviceUrl="[?merge serviceUrl ?]" style="width: 300px; height: 300px"></div>
    </div>
</div>
<script type="application/javascript">
    
    var serviceUrl = $("#qrcode").attr("data-serviceUrl");
    var token = $("#qrcode").attr("data-token");
    var test = {
        url: serviceUrl,
        token: token
    };
    var qrcode = new QRCode("qrcode", {
                text: JSON.stringify(test),
                width: 350,
                height: 350,
                colorDark : "#000000",
                colorLight : "#ffffff",
                correctLevel : QRCode.CorrectLevel.M
            });
    //qrcode.makeCode(JSON.stringify(test));

</script>
