<div data-translate-catalog="businessExpenses/businessCategory">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Edit a new business category
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-8 col-lg-6">
            <form class="well" id="formBusinessCategory">
                <div class="form-group">
                    <label for="code">Code<span style="color: red">&nbsp;*</span></label>
                    <input type="text" class="form-control" name="code" id="code" />
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="description"/>
                </div>
                <div class="form-group">
                    <label for="formType">Form type<span style="color: red">&nbsp;*</span></label>
                    <div>
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default formType" title="Amount">
                                <input type="radio" name="formType" value="amount"/> Amount
                            </label>
                            <!--label class="btn btn-default formType" title="Flate rate">
                                <input type="radio" name="formType" value="flateRate"> Flate rate
                            </label-->
                            <label class="btn btn-default formType" title="Mileage expense">
                                <input type="radio" name="formType" value="mileageExpense"> Mileage expense
                            </label>
                        </div>
                    </div>
                </div>
            </form>
            <div class="clearfix">
                <div class="pull-right" id="businessCategoryBtnGrp">
                    <button type="button" class="btn btn-warning" data-cancel="" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                    <button type="button" class="btn btn-success" id="createBusinessCategory" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none">
        <span id="empty_text">The fields with a star are compulsory.</span>
    </div>
</div>

<script>
    $(document).ready(function () {
        // radio button
        $("#formBusinessCategory").on('click', '.formType', function () {
            $('#formBusinessCategory').find('.formType').removeClass('btn-info').addClass('btn-default');
            $(this).addClass('btn-info');
        });

        $('#createBusinessCategory').on('click', function () {
            if ($("#code").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            if ($("#formBusinessCategory").find(".active").children().val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            
            $(this).prop("disabled", true);
           
            var parameters = {
                businessCategory : serializeBusinessCategory()
            }

            $.ajax({
                type: "POST",
                url: '/businessCategory',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/businessCategory/index");
                    }
                }
            });
            $(this).prop("disabled", false);
        });
        
        $('#businessCategoryBtnGrp').on('click', '[data-cancel]', function () {
            load("/businessCategory/index");
        });

        function serializeBusinessCategory() {
            var businessCategory = new Object();
            businessCategory.code = $("#code").val();
            businessCategory.description = $("#description").val();
            businessCategory.formType = $("#formBusinessCategory").find(".active").children().val();
            
            return businessCategory;
        }
    });

</script>
