<div id="contain" data-translate-catalog="businessExpenses/businessCategory">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-list"></i>
                Business categories
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>[?merge businessCategories.count() ?] <span>Business categories</span></h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="btnNewBusinessCategory" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="listBusinessCategory" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Description</th>
                                    <th>Form type</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge businessCategories ?>
                                <tr id="[?merge .businessCategoryId ?]">
                                    <td><?merge .code ?></td>
                                    <td><?merge .description ?></td>
                                    <td><?merge .formType ?></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="deleteBusinessCategory btn btn-danger" data-businessCategoryId="[?merge .businessCategoryId ?]" title="Delete">
                                                <span class="fa fa-fw fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
    
    
//add
$("#btnNewBusinessCategory").on('click', function() {
    load("/businessCategory/new");
});

//delete
$("#listBusinessCategory").on('click', '.deleteBusinessCategory', function() {
    var businessCategoryId = $(this).attr("data-businessCategoryId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "DELETE",
        url: '/businessCategory/'+businessCategoryId,
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/businessCategory/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

</script>