<div id="contain" data-translate-catalog="businessExpenses/statistic">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-bar-chart"></i>
                Statistic
            </h1>
        </div>
    </div>
    <div class="col-md-5">
        <!-- Nav tabs -->
        <!--ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#businessCategoriesByServicesChart" aria-controls="home" role="tab" data-toggle="tab">Business categories</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
            <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
        </ul-->

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="businessCategoriesByServicesChart">
                <br/>
                <div class="panel-group">
                    <div class="panel">
                        <form class="form">
                            <div class="col-md-12">
                                <label class="control-label">Date range</label>
                                <div class="input-group">
                                    <input type="text" class="form-control datePicker" id="dateMin" name="dateMin">
                                    <span class="input-group-addon" data-translate-context="date">to</span>
                                    <input type="text" class="form-control datePicker" id="dateMax" name="dateMax">
                                </div>
                                <br/>
                                <button type="button" id="searchbusinessCategoriesByServicesChart" class="btn btn-block btn-primary" title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                            </div>
                        </form>
                    </div>  
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">...</div>
            <div role="tabpanel" class="tab-pane" id="messages">...</div>
            <div role="tabpanel" class="tab-pane" id="settings">...</div>
        </div>
    </div>
    <div class="col-md-7" id="chartResult">
        <div>
            <canvas id="chartDisplay" data-colors="[?merge colors.json() ?]">canvas</canvas>
        </div>
    </div>
</div>
<script type="application/javascript">
//businessCategoriesChart
/*$("#searchbusinessCategoriesChart").on('click', function() {
    return;
    $(this).prop("disabled", true);

    $.ajax({
        type: "GET",
        url: '/statistic/businessCategoriesChart',
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/businessCategory/index");
            }
        }
    });

    $(this).prop("disabled", false);
});*/

$(document).ready(function() {
    /* 
        Select the report
        REQUEST
        reportName: string

        RESPONSE
        chartType : string,
        params : [
            {
                name: string,
                type: string,
            }  
        ]
        drawScale


    */
    // Display the form for parameters (cube facets)
    // Get the chart parameters (type, colors, scale)


    /*
        Get the data :

        REQUEST:
        reportName : string,
        params : {
            name : value,
            ...    
        }

        RESPONSE : 
        1 series (pie, doughnut, polarArea)
        ***********************************
        title: string,
        labels : [
            label1,
            label2,
            ...
        ],
        values: [
            value1,
            value2,
            ...
        ]

        Multiple series (line, bar, radar)
        ***********************************
        title : string,
        labels : [
            label1,
            label2,
            ...
        ],
        series : [
            {
                label : string,
                values : [
                    value1,
                    value2,
                    ...
                ]
            },
            ...
        ]
    */
    var chart = null;
    var canvas = document.getElementById('chartDisplay');
    var ctx = canvas.getContext("2d");


    $("#searchbusinessCategoriesByServicesChart").on("click", function() {
        if(chart) {
            chart.destroy();
        }
        var chartType = "bar";
        
        var data = new Object();
        data.dateMin = $("#dateMin").val();
        data.dateMax = $("#dateMax").val();

        $.ajax({
            type: "GET",
            url: '/Statistic/Categoriesbyservices',
            data: data,
            dataType : 'json',
            async: false,
            success: function(response) {
                setChart(chartType, response);
            }
        });
    });
    
    var setChart = function(chartType, response) {
        switch (chartType) {
            // 1 series
            case 'pie':
                var data = makeOneSeries(response.data);
                chart = new Chart(ctx).Pie(data, {responsive: true, multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"});
                break;

            case 'doughnut':
                var data = makeOneSeries(response.data);
                chart = new Chart(ctx).Doughnut(data, {responsive: true});
                break;

            case 'polarArea':
                var data = makeOneSeries(response.data);
                chart = new Chart(ctx).PolarArea(data, {responsive: true});
                break;

            // 1..n series
            case 'line':
                var data = makeMultiSeries(response.data);
                chart = new Chart(ctx).Line(data, {
                    responsive: true,
                    legendTemplate : "<ul class=\"<%=title.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>"
                });
                var legend = chart.generateLegend();
                $('#legend').append(legend);
                break;

            case 'bar':
                var data = makeMultiSeries(response.data);
                chart = new Chart(ctx).Bar(data, {
                    responsive: true,
                    legendTemplate : "<ul class=\"<%=title.toLowerCase()%>-legend\"><% for (var i=0; i<datasets.length; i++){%><li><span style=\"background-color:<%=datasets[i].strokeColor%>\"></span><%if(datasets[i].label){%><%=datasets[i].label%><%}%></li><%}%></ul>",
                    multiTooltipTemplate: "<%= datasetLabel %> - <%= value %>"
                });
                break;

            case 'stackedBar':
                var data = makeMultiSeries(response.data);
                chart = new Chart(ctx).StackedBar(data, {responsive: true});
                break;

            case 'radar':
                var data = makeMultiSeries(response.data);
                chart = new Chart(ctx).Radar(data, {responsive: true});
                break;

            default:

        }
    }

    var makeOneSeries = function(response) {
        var colors = JSON.parse(document.getElementById('chartDisplay').getAttribute('data-colors'));

        // Awaiten data
        var data = [];

        // Multiple series => keep first one
        if (response.series != undefined ) {
            var values = response.series[0].values;
        } else {
            var values = response.values;
        }

        index = 0;
        for (key in values) {

            var item = {};
            item.value = values[key];
            item.label = response.labels[index];

            if (colors[index] != undefined) {
                item.color = colors[index];
                item.highlight = highlight(item.color, 0.6);
            } else {
                item.color = '#'+ Math.floor(Math.random()*16777215).toString(16);
                item.highlight = highlight(item.color, 0.6);
            }

            data.push(item);

            index++;
        }

        return data;
    }

    var makeMultiSeries = function(response) {
        var colors = JSON.parse(document.getElementById('chartDisplay').getAttribute('data-colors'));

        var structure = {
            labels : response.labels,
            datasets : []
        };

        // Multiple series
        if (response.series != undefined ) {
            var series = response.series;
        } else {
            var series = [{values: response.values}];
        }

        for (index in series) {

            // Cast object into array
            var dataset = {};

            dataset.data = series[index].values;

            if (colors[index] != undefined) {
                var color = colors[index];
            } else {
                var color = '#' + Math.floor(Math.random()*16777215).toString(16);    
            }
            dataset.label = series[index].label;
            dataset.fillColor = highlight(color, 0.2);
            dataset.strokeColor = highlight(color, 0.8);
            dataset.highlightFill = highlight(color, 0.8);
            dataset.highlightStroke = highlight(color, 1);
            dataset.pointColor = color;
            dataset.pointStrokeColor = "#fff";
            dataset.pointHighlightFill = "#fff";
            dataset.pointHighlightStroke = color;

            structure.datasets.push(dataset);
            //console.log(dataset);
        }
        //console.log(structure);
        return structure;
    }

    var highlight = function(hex, a) {
        hex = String(hex).replace(/[^0-9a-f]/gi, '');
        if (hex.length < 6) {
            hex = hex[0]+hex[0]+hex[1]+hex[1]+hex[2]+hex[2];
        }

        var r = parseInt("0x" + hex.substr(0,2));
        var g = parseInt("0x" + hex.substr(2,2));
        var b = parseInt("0x" + hex.substr(4,2));

        return "rgba("+r+","+g+","+b+","+a+")";
    }

});
</script>