<script type="text/javascript" src="/public/dependency/html/js/datePicker/locales/bootstrap-datepicker.fr.js"></script>
<div data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <?merge expenseReport.expenseReportId.ifeq('') ?>
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Edit a new expense report
            </h1>
            <?merge expenseReport.expenseReportId.ifne('') ?>
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Modify an expense report
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-3">
            <?merge expenseReport ?>
            <form class="well" id="formExpenseReport">
                <input type="hidden" name="expenseReportId" id="expenseReportId" value="" />
                <div class="form-group">
                    <label for="description">Description<span style="color: red">&nbsp;*</span></label>
                    <input type="text" class="form-control" name="description" id="description" />
                </div>
                <div class="form-group">
                    <label for="beginDate">Begin date<span style="color: red">&nbsp;*</span></label>
                    <input type="text" class="form-control datePicker" name="beginDate" id="beginDate" />
                </div>
                <div class="form-group">
                    <label for="endDate">End date<span style="color: red">&nbsp;*</span></label>
                    <input type="text" class="form-control datePicker" id="endDate" name="endDate"/>
                </div>
                <div class="form-group">
                    <label for="serviceId">Service<span style="color: red">&nbsp;*</span></label>
                    <select class="form-control" id="serviceId" name="serviceId">
                        <?merge services ?>
                        <option value="[?merge .organization.orgId?]"><?merge .organization.orgName ?></option>
                    </select>
                </div>
            </form>
            <div class="clearfix">
                <div class="" id="expenseReportBtnGrp">
                    <?merge expenseReport.expenseReportId.ifeq('') ?>
                    <button type="button" class="btn btn-success btn-block" id="createContinueExpenseReport" title="Save"><i class="fa fa-save">&nbsp;</i>Save and continue</button>
                    <br/>
                    <button type="button" class="btn btn-warning col-md-5" data-cancel="" title="Back"><i class="fa fa-undo">&nbsp;</i>Back</button>
                    <?merge expenseReport.expenseReportId.ifeq('') ?>
                    <button type="button" class="btn btn-success col-md-5 col-md-offset-2" id="createExpenseReport" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                    <?merge expenseReport.expenseReportId.ifne('') ?>
                    <button type="button" class="btn btn-success col-md-5 col-md-offset-2" id="updateExpenseReport" title="Modify"><i class="fa fa-edit">&nbsp;</i>Modify</button>
                </div>
            </div>
        </div>
        <?merge expenseReport.expenseReportId.ifeq('').then("col-md-8 col-lg-8 hide") @class ?>
        <div class="col-md-9">
            <?merge expenseReport.validatorComment.bool() ?>
            <div class="col-md-12 alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Validator comment</strong><p><?merge expenseReport.validatorComment ?></p>
            </div>
            <?hinclude businessExpenses/expenseReport/expenseLinesTables.html ?>
        </div>
    </div>
    <div style="display:none">
        <span id="empty_text">The fields with a star are compulsory.</span>
    </div>
</div>
<script>
    $(document).ready(function () {
        
        // CREATE
        $('#createExpenseReport').on('click', function () {
            if ($("#beginDate").val() == "" || $("#endDate").val() == "" || $("#description").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            
            $(this).prop("disabled", true);
           
            var parameters = {
                expenseReport : serializeExpenseReport()
            }

            $.ajax({
                type: "POST",
                url: '/expenseReport',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/expenseReport/index");
                    }
                }
            });
            $(this).prop("disabled", false);
        });

        // CREATE
        $('#createContinueExpenseReport').on('click', function () {
            if ($("#beginDate").val() == "" || $("#endDate").val() == "" || $("#description").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            
            $(this).prop("disabled", true);
           
            var parameters = {
                expenseReport : serializeExpenseReport()
            }

            $.ajax({
                type: "POST",
                url: '/expenseReport',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/expenseReport/"+response.expenseReportId);
                    }
                }
            });
            $(this).prop("disabled", false);
        });
        
        // UPDATE
        $('#updateExpenseReport').on('click', function () {
            if ($("#beginDate").val() == "" || $("#endDate").val() == "" || $("#description").val() == "") {
                gritter.show($("#empty_text").text(), false);
                return;
            }
            
            $(this).prop("disabled", true);
           
            var parameters = {
                expenseReport : serializeExpenseReport()
            }

            $.ajax({
                type: "PUT",
                url: '/expenseReport',
                data: JSON.stringify(parameters),
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/expenseReport/index");
                    }
                }
            });
            $(this).prop("disabled", false);
        });
        
        $('#expenseReportBtnGrp').on('click', '[data-cancel]', function () {
            load("/expenseReport/index");
        });

        function serializeExpenseReport() {
            var expenseReport = new Object();
            expenseReport.description = $("#description").val();
            expenseReport.beginDate = $("#beginDate").val();
            expenseReport.endDate = $("#endDate").val();
            expenseReport.expenseReportId = $("#expenseReportId").val();
            expenseReport.serviceId = $("#serviceId :selected").val();
            
            return expenseReport;
        }
    });

</script>
