<div id="contain" data-translate-catalog="businessExpenses/expenseLine">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4>[?merge expenseLines.count() ?] <span>Expense line(s)</span></h4>
                            <h4>Total : <span>[?merge expenseReport.totalAmount ?]</span></h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary btn-sm" id="btnNewModalExpenseLine" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body table-responsive" style="padding: 0;">
                        <table class="table table-condensed table-hover" id="listExpenseLines" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Line number</th>
                                    <th>Date</th>
                                    <th>Supplier / corporation</th>
                                    <th>Category</th>
                                    <th>Amount</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge expenseLines ?>
                                <tr id="[?merge .expenseLineId ?]">
                                    <td><?merge .lineNumber ?></td>
                                    <td><?merge .date ?></td>
                                    <td><?merge .partyName ?></td>
                                    <td><?merge .category ?></td>
                                    <td><?merge .amount ?></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <?merge .file.bool() ?>
                                            <button type="button" class="viewResourceExpenseLine btn btn-primary" data-expenseLineId="[?merge .expenseLineId ?]" title="View">
                                                <span class="fa fa-fw fa-eye"></span>
                                            </button>
                                            <button type="button" class="editModalExpenseLine btn btn-warning" data-expenseLineId="[?merge .expenseLineId ?]" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <button type="button" class="deleteExpenseLine btn btn-danger" data-expenseLineId="[?merge .expenseLineId ?]" title="Delete">
                                                <span class="fa fa-fw fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <?hinclude businessExpenses/expenseReport/expenseLineModal.html ?>
    </div>
</div>
<script type="application/javascript">
//add
$("#btnNewModalExpenseLine").on('click', function() {
    initModal();// in expenseLineModal.html
    $("#myModalExpenseLineLabel").text($("#editNewExpenseLineLabel").text());// in expenseLineModal.html
    $("#expenseLineModal").modal(); // in expenseLineModal.html
});

//edit
$("#listExpenseLines").on('click', '.editModalExpenseLine', function() {
    $(this).prop("disabled", true);

    initModal();// in expenseLineModal.html

    var expenseLineId = $(this).attr("data-expenseLineId");

    $.ajax({
        type: "GET",
        url: '/expenseLine/'+expenseLineId,
        dataType: 'json',
        async: false,
        success: function (response) {
            if (response.status == true) {
                mergeModal(response.expenseLine);// in expenseLineModal.html
            } else {
                gritter.show(response.message, false);
            }
        }
    });

    $(this).prop("disabled", false);
});

//resource
$("#listExpenseLines").on('click', '.viewResourceExpenseLine', function() {
    $(this).prop("disabled", true);

    var expenseLineId = $(this).attr("data-expenseLineId");

    var win = window.open('/expenseLine/Resource/'+expenseLineId, '_blank');
    win.focus();

    $(this).prop("disabled", false);
});

//delete
$("#listExpenseLines").on('click', '.deleteExpenseLine', function() {
    var expenseLineId = $(this).attr("data-expenseLineId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "DELETE",
        url: '/expenseLine/'+expenseLineId,
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/expenseReport/"+$("#expenseReportId").val());
            }
        }
    });

    $(this).prop("disabled", false);
});
</script>