 <!-- Modal -->
<div class="modal fade" id="expenseLineModal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-remove"></span></button>
                <h4 class="modal-title" id="myModalExpenseLineLabel"></h4>
            </div>
            <div class="modal-body" id="formExpenseLine">
                <div class="row">
                    <div class="col-md-6">
                        <input type="hidden" name="expenseLineId" id="expenseLineId" value="" />
                        <input type="hidden" name="lineNumber" id="lineNumber" value="" />
                        <input type="hidden" name="base64File" id="base64File" value="" />
                        <div class="form-group">
                            <label for="date">Date<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="date" id="date" placeholder="Date"/>
                        </div>
                        <div class="form-group">
                            <label for="clientAccountId">Customer</label>
                            <select class="form-control" name="customerId" id="customerId">
                                <option value="">Select a customer</option>
                                <?merge customers ?>
                                <option value="[?merge .customerId ?]"><?merge .name ?></option>
                            </select>
                        </div>
                        <div class="form-group row hide">
                            <div class="form-group col-md-8">
                                <label for="projectId">Project</label>
                                <select class="form-control" name="projectId" id="projectId" disabled>
                                    <option value="">Select a project</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="rebilling">Rebilling</label>
                                <br/>
                                <input type="checkbox" name="rebilling" id="rebilling" data-toggle="toggle" disabled="">
                            </div>
                        </div>
                        <div class="form-group hide">
                            <label for="partyName">Supplier / corporation<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="partyName" id="partyName" placeholder="Supplier / corporation" />
                        </div>
                        <div class="form-group hide">
                            <label for="proofReference">Proof reference<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="proofReference" id="proofReference" placeholder="Proof reference"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="reason">Reason<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="reason" id="reason" placeholder="Reason"/>
                        </div>
                        <div class="form-group">
                            <label for="businessCategoryId">Category<span style="color: red">&nbsp;*</span></label>
                            <select class="form-control" name="businessCategoryId" id="businessCategoryId">
                                <option value="">Select a category</option>
                                <?merge businessCategories ?>
                                <option value="[?merge .businessCategoryId ?]" data-formType="[?merge .formType ?]"><?merge .description ?></option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-6 hide">
                                <label for="amount">Amount<span style="color: red">&nbsp;*</span></label>
                                <input type="text" class="form-control" name="amount" id="amount"  placeholder="Amount"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group col-md-6 hide">
                                <label for="VatAmount">VAT amount</label>
                                <input type="text" class="form-control" name="VatAmount" id="VatAmount" placeholder="VAT amount"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="form-group hide">
                                <label for="distance">Distance<span style="color: red">&nbsp;*</span></label>
                                <input type="text" class="form-control" name="distance" id="distance" placeholder="Distance"/>
                            </div>
                            <div class="form-group hide">
                                <label for="taxHorsepower">Tax horsepower<span style="color: red">&nbsp;*</span></label>
                                <input type="text" class="form-control" name="taxHorsepower" id="taxHorsepower" placeholder="Tax horsepower"/>
                            </div>
                        </div>
                        <!--div class="form-group hide">
                            <label for="nbDay">Number of day<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="nbDay" id="nbDay" />
                        </div>
                        <div class="form-group hide">
                            <label for="flateRateAmount">Flate rate amount<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="flateRateAmount" id="flateRateAmount" />
                        </div-->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <input type="file" id="inputBillFile" class="hide">
                        <div class="" id="billDropZone">
                            <i class="fa fa-file-text fileIcon">&nbsp;</i>
                            <h4 class="hide" id="chooseFile">Click or drop a file</h4>
                            <h4 class="hide" id="replaceFile">Click or drop a replacement file</h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div id="billFileInfo" class="hide col-md-8 col-md-offset-2">
                        <br/>
                        <table>
                            <tr>
                                <td><i class="fa fa-file-text fileIcon">&nbsp;</i></td>
                                <td>
                                    <dl class="dl-horizontal">
                                        <dt>Size</dt>
                                        <dd id="billFile_fileSize"></dd>
                                    </dl>
                                </td>
                            </tr>
                        </table>
                        <br/>
                        <div class="row">
                            <div class="pull-left ">
                                <button class="btn btn-warning" id="billFileCancel" title="Cancel"><i class='fa fa-times'>&nbsp;</i> Cancel</button>
                            </div>
                        </div>
                        <span class="hide" id="byte_text">byte</span>
                        <span class="hide" id="checkFormat_text">Check format</span>
                    </div>
                </div>
            </div><!-- end body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="createExpenseLine" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                <button type="button" class="btn btn-success hide" id="updateExpenseLine" title="Modify"><i class="fa fa-edit">&nbsp;</i>Modify</button>
            </div>
        </div><!-- end content -->
    </div><!-- end dialog -->
</div> <!-- end modal -->
<div style="display:none">
    <span id="editNewExpenseLineLabel">Edit a new expense line</span>
    <span id="ModifyExpenseLineLabel">Modify an expense line</span>
    <span id="error_PositiveAmount">The amount must be positive</span>
</div>
<style type="text/css">
    #billDropZone {
        border: 2px dashed grey;
        cursor: pointer;
        padding: 30px;
        text-align: center;
        color: grey;
        opacity: 0.5;
    }
    .fileIcon {
        font-size: 300%;
    }
</style>
<script type="text/javascript">
    // Drag & drop
    $("#billDropZone").on('dragenter', function(e) {
        e.preventDefault();
        e.stopPropagation();
    })

    $("#billDropZone").on('dragover', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $('#billDropZone').css('opacity', '1');
    })

    $("#billDropZone").on('dragleave', function(e) {
        $('#billDropZone').css('opacity', '0.5');
    })

    $('#billDropZone').on('drop', function(e) {
        if(e.originalEvent.dataTransfer){
            if(e.originalEvent.dataTransfer.files.length) {
                e.preventDefault();
                e.stopPropagation();
                $('#billDropZone').css('opacity', '0.5');
                uploadBill(e.originalEvent.dataTransfer.files[0]);
            }   
        }
    });

    // Files browser
    $('#billDropZone').on('click', function() {
        $('#inputBillFile').click();
    })

    $('#inputBillFile').on('change', function() {
        uploadBill($(this).context.files[0]);
    })

    // Cancel
    $('#billFileCancel').on('click', function() {
        $('#billDropZone').removeClass('hide');
        $('#billFileInfo').addClass('hide');
        $('#inputBillFile').val('');
    })
    
    function uploadBill(file) {
        oFileReader = new FileReader();
        oFileReader.readAsDataURL(file);
        oFileReader.onload = function() {
            $('#inputBillFile').data('base64', oFileReader.result.replace(/^data:.*?;base64,/, ""));
            $('#billFile_fileSize').html(file.size + ' ' + $('#byte_text').html());
            $('#billDropZone').addClass('hide');
            $('#billFileInfo').removeClass('hide');
        }
    }

    $("#date").datepicker({
        language : "fr",
        todayHighlight : true,
        format : "dd/mm/yyyy",
        endDate : $("#endDate").val(),
        startDate : $("#beginDate").val(),
        autoclose : true
    }).on("show", function(e) {
        var zIndexModal = $("#expenseLineModal").css('z-index');
        $('.datepicker').css('z-index', zIndexModal + 1);
    }).on("changeMonth", function(e) {
        var zIndexModal = $("#expenseLineModal").css('z-index');
        $('.datepicker').css('z-index', zIndexModal + 1);
    }).on("changeYear", function(e) {
        var zIndexModal = $("#expenseLineModal").css('z-index');
        $('.datepicker').css('z-index', zIndexModal + 1);
    });

    /**
     * Init modal with input empty values
     */
    function initModal() {
        $("#expenseLineModal").find("input").each(function() {
            $(this).val("");
        });

        $("#expenseLineModal").find("select").each(function() {
            $(this).prop("selectedIndex", 0).change();
        });

        $("#createExpenseLine").removeClass("hide");
        $("#updateExpenseLine").addClass("hide");
        $("#chooseFile").removeClass("hide");
        $("#replaceFile").addClass("hide");
        $('#billFileCancel').click();
        $('#businessCategoryId').change();
        $('#rebilling').bootstrapToggle('off');
        $("#projectId").parent().parent().addClass("hide");
        $("#businessCategoryId").removeAttr("disabled")
    }

    /**
     * Fill project input with a good values when the customer change
     */
    $("#customerId").on('change', function() {
        if ($(this).val() == "" || $(this).val() == undefined) {
            $("#projectId > option").each(function() {
                if ($(this).val() != "") {
                    $(this).remove();
                }
            });
            $("#projectId").prop('selectedIndex', 0);
            $("#projectId").prop('disabled', true);
            $("#projectId").parent().parent().addClass("hide");
            $('#rebilling').bootstrapToggle('off');
            $("#rebilling").bootstrapToggle('disable');
            return;
        }

        $(this).prop("disabled", true);

        $.ajax({
            type: "GET",
            url: '/project/'+$(this).val()+'/Customer',
            dataType: 'json',
            async: false,
            success: function (response) {
                if (response.status == true) {
                    $(response.projects).each(function() {
                        var projectId = $(this)[0].projectId;
                        var name = $(this)[0].name;
                        var rebilling = $(this)[0].rebilling;
                        $("#projectId").append("<option value=" + projectId + " data-rebilling=" + rebilling + ">" + name +"</option>");
                    });
                    $("#projectId").prop('disabled', false);
                    $("#projectId").parent().parent().removeClass("hide");
                }
            }
        });

        $(this).prop("disabled", false);
    });
    
    $("#projectId").on('change', function() {
        if ($(this).val() == "" || $(this).val() == undefined) {
            $('#rebilling').bootstrapToggle('off');
            $("#rebilling").bootstrapToggle('disable');
            return;
        }
        $("#rebilling").bootstrapToggle('enable');
        if (($("#projectId :selected").attr("data-rebilling") == true) || ($("#projectId :selected").attr("data-rebilling") == 1) || ($("#projectId :selected").attr("data-rebilling") == "true")) {
            $('#rebilling').bootstrapToggle('on');
        } else {
            $('#rebilling').bootstrapToggle('off');
        }
    });
    
    /**
     * display inputs by category
     */
    $("#expenseLineModal").on('change', '#businessCategoryId', function() {
        $("#amount").val("").closest("div").addClass("hide");
        $("#VatAmount").val("").closest("div").addClass("hide");
        $("#proofReference").val("").closest("div").addClass("hide");
        $("#partyName").val("").closest("div").addClass("hide");
        $("#distance").val("").closest("div").addClass("hide");
        $("#taxHorsepower").val("").closest("div").addClass("hide");
        //$("#nbDay").val("").closest("div").addClass("hide");
        //$("#flateRateAmount").val("").closest("div").addClass("hide");
        
        switch($("#businessCategoryId :selected").attr("data-formtype")) {
            case "amount":
                $("#amount").closest("div").removeClass("hide");
                $("#VatAmount").closest("div").removeClass("hide");
                $("#proofReference").closest("div").removeClass("hide");
                $("#partyName").closest("div").removeClass("hide");
                break;

            case "flateRate":
                //$("#flateRateAmount").closest("div").removeClass("hide");
                //$("#nbDay").closest("div").removeClass("hide");
                break;

            case "mileageExpense":
                $("#distance").closest("div").removeClass("hide");
                $("#taxHorsepower").closest("div").removeClass("hide");
                break;

            default:
        }
    });
    
    // CREATE
    $('#createExpenseLine').on('click', function () {
        var parameters = {
            expenseLine : serializeExpenseLine()
        }

        //check all input, pas le temps de niaiser !
        if (checkExpenseLineInput(parameters.expenseLine)) {
            gritter.show($("#empty_text").text(), false);
            return;
        }
        
        if (parameters.expenseLine.amount != "") {
            if (!$.isNumeric(parameters.expenseLine.amount) || !(parameters.expenseLine.amount > 0)) {
                gritter.show($("#error_PositiveAmount").text(), false);
                return;
            }
        }

        $(this).prop("disabled", true);

        $.ajax({
            type: "POST",
            url: '/expenseLine',
            data: JSON.stringify(parameters),
            dataType: 'json',
            contentType: 'application/json',
            async: false,
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status == true) {
                    $('#expenseLineModal').modal("hide");
                    setTimeout(function(){
                        load("/expenseReport/"+$("#expenseReportId").val());;
                    }, 250);
                }
            }
        });
        $(this).prop("disabled", false);
    });
    
    // UPDATE
    $('#updateExpenseLine').on('click', function () {
        var parameters = {
            expenseLine : serializeExpenseLine()
        }
        
        //check all input, pas le temps de niaiser !
        if (checkExpenseLineInput(parameters.expenseLine)) {
            gritter.show($("#empty_text").text(), false);
            return;
        }

        if (parameters.expenseLine.amount != "") {
            if (!$.isNumeric(parameters.expenseLine.amount) || !(parameters.expenseLine.amount > 0)) {
                gritter.show($("#error_PositiveAmount").text(), false);
                return;
            }
        }

        $(this).prop("disabled", true);

        var parameters = {
            expenseLine : serializeExpenseLine()
        }

        $.ajax({
            type: "PUT",
            url: '/expenseLine',
            data: JSON.stringify(parameters),
            dataType: 'json',
            contentType: 'application/json',
            async: false,
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status == true) {
                    $('#expenseLineModal').modal("hide");
                    setTimeout(function(){
                        load("/expenseReport/"+$("#expenseReportId").val());;
                    }, 250);
                }
            }
        });
        $(this).prop("disabled", false);
    });
        
    function checkExpenseLineInput(expenseLine) {
        notEmptyField = ["expenseReportId", "date", "reason", "businessCategoryId"];

        switch($("#businessCategoryId :selected").attr("data-formtype")) {
            case "amount":
                notEmptyField.push("amount");
                notEmptyField.push("proofReference");
                notEmptyField.push("partyName");
                break;

            case "flateRate":
                //$("#flateRateAmount").closest("div").removeClass("hide");
                //$("#nbDay").closest("div").removeClass("hide");
                break;

            case "mileageExpense":
                notEmptyField.push("distance");
                notEmptyField.push("taxHorsepower");
                break;

            default:
        }
        
        for (var i = 0; i < notEmptyField.length; i++) {
            if (expenseLine[notEmptyField[i]] === "" || expenseLine[notEmptyField[i]] == undefined) {
                //console.log(notEmptyField[i]);
                return true;
            }
        }
        
        return false;
    }
    
    function serializeExpenseLine() {
        var expenseLine = new Object();
        expenseLine.expenseReportId = $("#expenseReportId").val(); // NOT NULL
        expenseLine.expenseLineId = $("#expenseLineId").val();
        expenseLine.lineNumber = $("#lineNumber").val(); // NOT NULL
        
        expenseLine.date = $("#date").val(); // NOT NULL
        expenseLine.customerId = $("#customerId :selected").val();
        expenseLine.projectId = $("#projectId :selected").val();
        expenseLine.rebilling = $("#rebilling").prop("checked");
        expenseLine.partyName = $("#partyName").val();
        expenseLine.proofReference = $("#proofReference").val();
        expenseLine.reason = $("#reason").val(); // NOT NULL
        expenseLine.businessCategoryId = $("#businessCategoryId :selected").val(); // NOT NULL
        
        expenseLine.distance = $("#distance").val();
        expenseLine.taxHorsepower = $("#taxHorsepower").val();
        
        //expenseLine.nbDay = $("#nbDay").val();
        expenseLine.nbDay = "";
        //expenseLine.flateRateAmount = $("#flateRateAmount").val();
        expenseLine.flateRateAmount = "";

        if ($('#inputBillFile').data('base64') != null) {
            expenseLine.file = $('#inputBillFile').data('base64');
        } else {
            expenseLine.file = $('#base64File').val();
        }
        
        
        expenseLine.amount = $("#amount").val(); // montant TTC
        expenseLine.VatAmount = $("#VatAmount").val(); // montant TVA

        return expenseLine;
    }

function mergeModal(expenseLine) {
    $("#myModalExpenseLineLabel").text($("#ModifyExpenseLineLabel").text());
    $("#createExpenseLine").addClass("hide");
    $("#updateExpenseLine").removeClass("hide");

    $("#expenseLineId").val(expenseLine.expenseLineId);
    $("#lineNumber").val(expenseLine.lineNumber);

    $("#date").val(expenseLine.date); // NOT NULL
    $("#customerId").val(expenseLine.customerId);
    $("#customerId").change();
    $("#projectId").val(expenseLine.projectId).change();
    $("#rebilling").prop("checked", expenseLine.rebilling).change();
    $("#reason").val(expenseLine.reason); // NOT NULL
    $("#businessCategoryId").val(expenseLine.businessCategoryId).change(); // NOT NULL
    $("#businessCategoryId").attr("disabled", true);

    $("#partyName").val(expenseLine.partyName);
    $("#proofReference").val(expenseLine.proofReference);
    
    $("#distance").val(expenseLine.distance);
    $("#taxHorsepower").val(expenseLine.taxHorsepower);

    //expenseLine.nbDay = $("#nbDay").val();
    expenseLine.nbDay = "";
    //expenseLine.flateRateAmount = $("#flateRateAmount").val();
    expenseLine.flateRateAmount = "";
    

    if (expenseLine.file) {
        $("#base64File").val(expenseLine.file);
        $("#chooseFile").addClass("hide");
        $("#replaceFile").removeClass("hide");
    }
    

    $("#amount").val(expenseLine.amount); // montant TTC
    $("#VatAmount").val(expenseLine.VatAmount); // montant TVA

    $('#expenseLineModal').modal();
}
</script>