<div id="contain" data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-folder-open-o"></i>
                Expense reports
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>[?merge expenseReports.count() ?] <span>Expense report(s)</span></h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="btnNewExpenseReport" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="listExpenseReport" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Begin date</th>
                                    <th>End date</th>
                                    <th>Service</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge expenseReports ?>
                                <div>
                                    <?merge .status.ifeq("reject").then('danger') @class ?>
                                    <tr id="[?merge .expenseReportId ?]" class="">
                                        <td><?merge .description ?></td>
                                        <td><?merge .statusTrad ?></td>
                                        <td><span class="hide"><?merge .beginDate.format("Ymd") ?></span><?merge .beginDate ?></td>
                                        <td><span class="hide"><?merge .endDate.format("Ymd") ?></span><?merge .endDate ?></td>
                                        <td><?merge .serviceName ?></td>
                                        <td>
                                            <?merge .status.ifeqin("inEdition", "reject") ?>
                                            <div class="btn-group pull-right">
                                                <?merge .nbLines.ifne(0) ?>
                                                <button type="button" class="sendInValidation btn btn-info" data-expenseReportId="[?merge .expenseReportId ?]" title="Send in validation">
                                                    <span class="fa fa-fw fa-paper-plane"></span>
                                                </button>
                                                <button type="button" class="editExpenseReport btn btn-warning" data-expenseReportId="[?merge .expenseReportId ?]" title="Edit">
                                                    <span class="fa fa-fw fa-edit"></span>
                                                </button>
                                                <button type="button" class="deleteExpenseReport btn btn-danger" data-expenseReportId="[?merge .expenseReportId ?]" title="Delete">
                                                    <span class="fa fa-fw fa-remove"></span>
                                                </button>
                                            </div>
                                             <?merge .status.ifnein("inEdition", "reject") ?>
                                             <div class="btn-group pull-right">
                                                 <button type="button" class="viewExpenseReport btn btn-info" data-expenseReportId="[?merge .expenseReportId ?]" title="View">
                                                    <span class="fa fa-fw fa-eye"></span>
                                                </button>
                                             </div>
                                        </td>
                                    </tr>
                                </div>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">

//add
$("#btnNewExpenseReport").on('click', function() {
    load("/expenseReport/new");
});

//view
$("#listExpenseReport").on('click', '.viewExpenseReport', function() {
    var expenseReportId = $(this).attr("data-expenseReportId");
    load("/expenseReport/"+expenseReportId+"/view");
});

//send in validation
$("#listExpenseReport").on('click', '.sendInValidation', function() {
   var expenseReportId = $(this).attr("data-expenseReportId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "PUT",
        url: '/expenseReport/'+expenseReportId+'/toValidate',
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/expenseReport/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

//edit
$("#listExpenseReport").on('click', '.editExpenseReport', function() {
    var expenseReportId = $(this).attr("data-expenseReportId");

    load("/expenseReport/"+expenseReportId);
});

//delete
$("#listExpenseReport").on('click', '.deleteExpenseReport', function() {
    var expenseReportId = $(this).attr("data-expenseReportId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "DELETE",
        url: '/expenseReport/'+expenseReportId,
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/expenseReport/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

</script>