 <!-- Modal -->
<div class="modal fade" id="expenseLineModal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-remove"></span></button>
                <h4 class="modal-title">Expense line</h4>
            </div>
            <div class="modal-body" id="formExpenseLine">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="text" class="form-control" name="date" id="date" disabled/>
                        </div>
                        <div class="form-group hide">
                            <label for="clientAccountId">Customer</label>
                            <input type="text" class="form-control" name="customerName" id="customerName" disabled/>
                        </div>
                        <div class="form-group row hide">
                            <div class="form-group col-md-8">
                                <label for="projectId">Project</label>
                                <input type="text" class="form-control" name="projectName" id="projectName" disabled/>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="rebilling">Rebilling</label>
                                <br/>
                                <input type="checkbox" name="rebilling" id="rebilling" data-toggle="toggle" disabled="">
                            </div>
                        </div>
                        <div class="form-group hide">
                            <label for="partyName">Supplier / corporation</label>
                            <input type="text" class="form-control" name="partyName" id="partyName" disabled/>
                        </div>
                        <div class="form-group hide">
                            <label for="proofReference">Proof reference</label>
                            <input type="text" class="form-control" name="proofReference" id="proofReference" disabled/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="reason">Reason</label>
                            <input type="text" class="form-control" name="reason" id="reason" disabled/>
                        </div>
                        <div class="form-group">
                            <label for="businessCategoryId">Category</label>
                            <input type="text" class="form-control" name="businessCategoryName" id="businessCategoryName" disabled/>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 hide">
                                <label for="amount">Amount</label>
                                <input type="text" class="form-control" name="amount" id="amount" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 hide">
                                <label for="VatAmount">VAT amount</label>
                                <input type="text" class="form-control" name="VatAmount" id="VatAmount" disabled/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group hide">
                                <label for="distance">Distance</label>
                                <input type="text" class="form-control" name="distance" id="distance" disabled/>
                            </div>
                            <div class="form-group hide">
                                <label for="taxHorsepower">Tax horsepower</label>
                                <input type="text" class="form-control" name="taxHorsepower" id="taxHorsepower" disabled/>
                            </div>
                        </div>
                        <!--div class="form-group hide">
                            <label for="nbDay">Number of day</label>
                            <input type="text" class="form-control" name="nbDay" id="nbDay" disabled/>
                        </div>
                        <div class="form-group hide">
                            <label for="flateRateAmount">Flate rate amount</label>
                            <input type="text" class="form-control" name="flateRateAmount" id="flateRateAmount" disabled/>
                        </div-->
                    </div>
                </div>
            </div><!-- end body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- end content -->
    </div><!-- end dialog -->
</div> <!-- end modal -->

<script type="text/javascript">
    /**
     * Init modal with input empty values
     */
    function initModal() {
        $("#expenseLineModal").find("input").each(function() {
            $(this).val("");
        });

        $("#amount").closest("div").addClass("hide");
        $("#VatAmount").closest("div").addClass("hide");
        $("#distance").closest("div").addClass("hide");
        $("#taxHorsepower").closest("div").addClass("hide");
        $("#partyName").closest("div").addClass("hide");
        $("#proofReference").closest("div").addClass("hide");
        $("#projectId").parent().parent().addClass("hide");
        $("#customerId").parent().addClass("hide");
    }

function mergeModal(expenseLine) {
    //console.log(expenseLine);return;
    $("#date").val(expenseLine.date); // NOT NULL
    $("#rebilling").prop("checked", expenseLine.rebilling).change(); // NOT NULL
    $("#partyName").val(expenseLine.partyName); // NOT NULL
    $("#proofReference").val(expenseLine.proofReference); // NOT NULL
    $("#reason").val(expenseLine.reason); // NOT NULL
    $("#businessCategoryName").val(expenseLine.businessCategoryName); // NOT NULL

    $("#distance").val(expenseLine.distance);
    $("#taxHorsepower").val(expenseLine.taxHorsepower);
    
    if (expenseLine.customerId !== "") {
        $("#customerName").val(expenseLine.customerName);
        $("#projectName").val(expenseLine.projectName);
        $("#customerId").parent().removeClass("hide");
        $("#projectId").parent().parent().removeClass("hide");
    }

    //expenseLine.nbDay = $("#nbDay").val();
    expenseLine.nbDay = "";
    //expenseLine.flateRateAmount = $("#flateRateAmount").val();
    expenseLine.flateRateAmount = "";

    expenseLine.file = "";

    $("#amount").val(expenseLine.amount); // montant TTC
    $("#VatAmount").val(expenseLine.VatAmount); // montant TVA

    switch(expenseLine.businessCategoryFormType) {
        case "amount":
            $("#amount").closest("div").removeClass("hide");
            $("#VatAmount").closest("div").removeClass("hide");
            if (expenseLine.businessCategoryId != "REGULARIZATION") {
                $("#partyName").closest("div").removeClass("hide");
                $("#proofReference").closest("div").removeClass("hide");
            }
            
            break;

        case "flateRate":
            //$("#flateRateAmount").closest("div").removeClass("hide");
            //$("#nbDay").closest("div").removeClass("hide");
            break;

        case "mileageExpense":
            $("#distance").closest("div").removeClass("hide");
            $("#taxHorsepower").closest("div").removeClass("hide");
            break;

        default:
    }

    $('#expenseLineModal').modal();
}
</script>