<div data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Visualization of an expense report
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-3">
            <?merge expenseReport ?>
            <form class="well" id="formExpenseReport">
                <input type="hidden" name="expenseReportId" id="expenseReportId" value="" />
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" readonly/>
                </div>
                <div class="form-group">
                    <label for="beginDate">Begin date</label>
                    <input type="text" class="form-control" name="beginDate" id="beginDate" readonly/>
                </div>
                <div class="form-group">
                    <label for="endDate">End date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate" readonly/>
                </div>
                <div class="form-group">
                    <label for="serviceId">Service</label>
                    <input type="text" class="form-control" id="serviceName" name="serviceName" readonly/>
                </div>
            </form>
            <div class="clearfix">
                <div class="pull-right" id="expenseReportBtnGrp">
                    <button type="button" class="btn btn-warning" data-cancel="" title="Back"><i class="fa fa-undo">&nbsp;</i>Back</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <?hinclude businessExpenses/expenseReport/visualizationExpenseLinesTables.html ?>
        </div>
        <div style="display:none">
            <span id="empty_text">The fields with a star are compulsory.</span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Cancel
        $('#expenseReportBtnGrp').on('click', '[data-cancel]', function () {
            load("/expenseReport/index");
        });
    });

</script>
