<div lang="en" data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-history "></i>
                History of accounted Expense reports
            </h1>
        </div>
    </div>

    <div class="container-fluid" data-translate-catalog="businessExpenses/expenseReport">
        <div class="panel-group" id="accordion_expenseReportSearchForm">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="cursor:pointer;">
                    <h4 class="panel-title" style="float:left;">
                        Search form
                    </h4>
                    <i class="fa fa-caret-down" style="float:right;"></i>
                    <div style="clear:both;"></div>
                </div>
                <div id="collapseOne" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                    <form class="form">
                        <div class="row">
                            <input type="text" class="form-control datePicker hide">
                            <div class="col-md-5">
                                <label class="control-label">Begin date</label>
                                <div class="input-group input-daterange">
                                    <input type="text" class="form-control" id="beginDateMin" name="beginDateMin">
                                    <span class="input-group-addon" data-translate-context="date">to</span>
                                    <input type="text" class="form-control" id="beginDateMax" name="beginDateMax">
                                </div>
                            </div>
                            
                            <div class="col-md-offset-1 col-md-5">
                                <label class="control-label">End date</label>
                                <div class="input-group input-daterange">
                                    <input type="text" class="form-control" id="endDateMin" name="endDateMin">
                                    <span class="input-group-addon" data-translate-context="date">to</span>
                                    <input type="text" class="form-control" id="endDateMax" name="endDateMax">
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix">
                            <div class="pull-right">
                                <button type="button" id="search" class="btn btn-primary" title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                                <button type="button" id="reset" class="btn btn-warning" title="Reset">&nbsp;<i class="fa fa-refresh">&nbsp;</i>Reset</button>
                            </div>
                        </div>
                    </form>
                </div>  
            </div>  
        </div>
        <div class="container-fluid" id="searchResult"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.input-daterange').datepicker({
            todayBtn: "linked",
            format: "dd-mm-yyyy",
            language: "fr",
            clearBtn: true
        });
    });
    
    $(document).keypress(function(e){
        if (e.which != 13) {
             return;
        }
        // Prevent form submit
        e.preventDefault();
        
        $("#search").click();
    });

    //reset
    $("#accordion_expenseReportSearchForm").on('click', '#reset', function(){
        $('input').val('');
        $('#searchResult').html('');
    });

    //search
    $("#accordion_expenseReportSearchForm").on('click', '#search', function(){

        var beginDateMin = $('#beginDateMin').val();
        var beginDateMax = $('#beginDateMax').val();
        var endDateMin = $('#endDateMin').val();
        var endDateMax = $('#endDateMax').val();

        $.ajax({
            url         : "/expenseReport/accountant/searchhistory",
            type        : "GET",
            data        : {
                            beginDateMin : beginDateMin,
                            beginDateMax : beginDateMax,
                            endDateMin : endDateMin,
                            endDateMax : endDateMax
            },
            contentType : 'application/json',
            dataType    : 'html',
            success     : function(response){
                    $('#searchResult').html(response);
            },
            error       : function(response) {
                gritter.show(response.responseText, false);
            }
        });
    });
</script>