<div id="contain" data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-check-square-o "></i>
                Expense reports to accounted
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>[?merge expenseReports.count() ?] <span>Expense report(s)</span></h4>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="listExpenseReportToAccounted" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Service</th>
                                    <th>Description</th>
                                    <th>Begin date</th>
                                    <th>End date</th>
                                    
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge expenseReports ?>
                                <tr id="[?merge .expenseReportId ?]">
                                    <td><?merge .personalName ?></td>
                                    <td><?merge .serviceName ?></td>
                                    <td><?merge .description ?></td>
                                    <td><span class="hide"><?merge .beginDate.format("Ymd") ?></span><?merge .beginDate ?></td>
                                    <td><span class="hide"><?merge .endDate.format("Ymd") ?></span><?merge .endDate ?></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="viewExpenseReport btn btn-primary" data-expenseReportId="[?merge .expenseReportId ?]" title="View">
                                                <span class="fa fa-fw fa-eye"></span>
                                            </button>
                                            <button type="button" class="exportExpenseReport btn btn-primary" data-expenseReportId="[?merge .expenseReportId ?]" title="Export">
                                                <span class="fa fa-download"></span>
                                            </button>
                                            <button type="button" class="closeExpenseReport btn btn-success" data-expenseReportId="[?merge .expenseReportId ?]" title="Validate">
                                                <span class="fa fa-fw fa-check"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">
// Export
$('#listExpenseReportToAccounted').on('click', '.exportExpenseReport', function () {
    window.open("/expenseReport/accountant/export/" + $(this).attr("data-expenseReportId"), '_blank');
});

//close
$("#listExpenseReportToAccounted").on('click', '.closeExpenseReport', function() {
   var expenseReportId = $(this).attr("data-expenseReportId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "GET",
        url: '/expenseReport/' + expenseReportId + '/Close',
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/expenseReport/accountant/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

//view
$("#listExpenseReportToAccounted").on('click', '.viewExpenseReport', function() {
    var expenseReportId = $(this).attr("data-expenseReportId");

    load("/expenseReport/" + expenseReportId + "/viewaccountant");
});
</script>