 <!-- Modal -->
<div class="modal fade" id="regularizationLineModal" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-remove"></span></button>
                <h4 class="modal-title">Expense line</h4>
            </div>
            <div class="modal-body" id="formExpenseLine">
                <div class="form-group">
                    <label for="reason">Reason<span style="color: red">&nbsp;*</span></label>
                    <input type="text" class="form-control" name="regularizationReason" id="regularizationReason"/>
                </div>
                <div class="form-group">
                    <label for="amount">Amount<span style="color: red">&nbsp;*</span></label>
                    <input type="number" class="form-control" name="regularizationAmount" id="regularizationAmount" max="10000" min="-10000"/>
                </div>
            </div><!-- end body -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="createRegularizationLine" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- end content -->
    </div><!-- end dialog -->
</div> <!-- end modal -->

<script type="text/javascript">
    /**
     * Init modal with input empty values
     */
    function initregularizationModal() {
        $("#regularizationLineModal").find("input").each(function() {
            $(this).val("");
        });
    }
    
    function serializeregularizationLine() {
        var regularizationLine = new Object();
        regularizationLine.amount = $("#regularizationAmount").val(); // montant TTC
        regularizationLine.expenseReportId = $("#expenseReportId").val(); // NOT NULL
        regularizationLine.reason = $("#regularizationReason").val(); // NOT NULL

        return regularizationLine;
    }

    // CREATE
    $('#createRegularizationLine').on('click', function () {
        var parameters = {
            regularizationLine : serializeregularizationLine()
        }

        //check all input, pas le temps de niaiser !
        if ($("#regularizationAmount").val() == "" || $("#regularizationReason").val() == "") {
            gritter.show($("#empty_text").text(), false);
            return;
        }
        
        $(this).prop("disabled", true);

        $.ajax({
            type: "POST",
            url: '/RegularizationLine',
            data: JSON.stringify(parameters),
            dataType: 'json',
            contentType: 'application/json',
            async: false,
            success: function (response) {
                gritter.show(response.message, response.status, response.errors);
                if (response.status == true) {
                    $('#regularizationLineModal').modal("hide");
                    setTimeout(function(){
                        load("/expenseReport/"+$("#expenseReportId").val()+"/viewaccountant");;
                    }, 200);
                }
            }
        });

        $(this).prop("disabled", false);
    });
</script>