<div class="row" data-translate-catalog="businessExpenses/expenseReport">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <h4><?merge expenseReports.count() ?> result(s)</h4>
                </div>
            </div>
            <div class="panel-body" style="padding: 0;">
                <table class="table dataTable" id="accountantHistoryList">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Begin date</th>
                            <th>End date</th>
                            <th>User</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <?merge expenseReports ?>
                        <tr>
                            <td><?merge .description ?></td>
                            <td><span class="hide"><?merge .beginDate.format("Ymd") ?></span><?merge .beginDate ?></td>
                            <td><span class="hide"><?merge .endDate.format("Ymd") ?></span><?merge .endDate ?></td>
                            <td><?merge .personalName ?></td>
                            <td>
                                <button type="button" class="exportExpenseReport btn btn-primary" data-expenseReportId="[?merge .expenseReportId ?]" title="Export">
                                    <span class="fa fa-download"></span>
                                </button>
                                <button type="button" class="viewExpenseRepport btn btn-primary" data-expenseReportId="[?merge .expenseReportId ?]" title="View">
                                    <span class="fa fa-eye"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#accountantHistoryList").on("click", ".viewExpenseRepport", function() {
        load("/expenseReport/" + $(this).attr("data-expenseReportId") + "/viewhistoryaccountant");
    });
    
    $("#accountantHistoryList").on("click", ".exportExpenseReport", function() {
        window.open("/expenseReport/accountant/export/" + $(this).attr("data-expenseReportId"), '_blank');
    });
</script>

