<div data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Visualization of an expense report
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-3">
            <?merge expenseReport ?>
            <form class="well" id="formExpenseReport">
                <input type="hidden" name="expenseReportId" id="expenseReportId" value="" />
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" readonly/>
                </div>
                <div class="form-group">
                    <label for="beginDate">Begin date</label>
                    <input type="text" class="form-control" name="beginDate" id="beginDate" readonly/>
                </div>
                <div class="form-group">
                    <label for="endDate">End date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate" readonly/>
                </div>
                <div class="form-group">
                    <label for="serviceId">Service</label>
                    <input type="text" class="form-control" id="serviceName" name="serviceName" readonly/>
                </div>
            </form>
            <div class="clearfix">
                <div class="pull-right" id="expenseReportBtnGrp">
                    <button type="button" class="btn btn-primary" data-export="[?merge expenseReport.expenseReportId ?]" title="Export"><i class="fa fa-download">&nbsp;</i>Export</button>
                    <button type="button" class="btn btn-warning" data-cancel="" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                    <button type="button" class="closeExpenseReport btn btn-success" data-expenseReportId="[?merge expenseReport.expenseReportId ?]" title="Validate">
                        <span class="fa fa-fw fa-check">&nbsp;</span>Validate
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <?hinclude businessExpenses/expenseReportAccountant/expenseLinesTables.html ?>
        </div>
        <div style="display:none">
            <span id="empty_text">The fields with a star are compulsory.</span>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Cancel
        $('#expenseReportBtnGrp').on('click', '[data-cancel]', function () {
            load("/expenseReport/accountant/index");
        });
        
        // Export
        $('#expenseReportBtnGrp').on('click', '[data-export]', function () {
            window.open("/expenseReport/accountant/export/" + $(this).attr("data-export"), '_blank');
        });
        
        //Validate
        $("#expenseReportBtnGrp").on('click', '.closeExpenseReport', function() {
           var expenseReportId = $(this).attr("data-expenseReportId");

            $(this).prop("disabled", true);

            $.ajax({
                type: "GET",
                url: '/expenseReport/' + expenseReportId + '/Close',
                dataType: 'json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/expenseReport/accountant/index");
                    }
                }
            });

            $(this).prop("disabled", false);
        });
    });

</script>
