<div id="contain" data-translate-catalog="organization/userFunction">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-list"></i>
                User function
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>[?merge userFunctions.count() ?] <span>user(s) function(s)</span></h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="btnNewUserFunction" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="userFunctionsList" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Identifier</th>
                                    <th>Reference</th>
                                    <th>Name</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge userFunctions ?>
                                <tr id="[?merge .userFunctionId ?]">
                                    <td><?merge .userFunctionId ?></td>
                                    <td><?merge .reference ?></td>
                                    <td><?merge .name ?></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="deleteUserFunction btn btn-danger" data-userFunctionId="[?merge .userFunctionId ?]" title="Delete">
                                                <span class="fa fa-fw fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modalAddUserFunction" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add user function</h4>
                </div>
                <div class="modal-body">
                    <form id="formUserFunction">
                        <div class="form-group">
                            <label for="reference">Reference<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="reference" id="reference" />
                        </div>
                        <div class="form-group">
                            <label for="name">Name<span style="color: red">&nbsp;*</span></label>
                            <input type="text" class="form-control" name="name" id="name" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" id="saveUserFunction">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <div style="display:none">
        <span id="empty_text">The fields with a star are compulsory.</span>
    </div>
</div>
<script type="application/javascript">
    
    
//modal
$("#btnNewUserFunction").on('click', function() {
    $("#reference").val("");
    $("#name").val("");
    $("#modalAddUserFunction").modal();
});

//add
$("#saveUserFunction").on('click', function() {
    if (validateInputs()) {
        return;
    }

    $(this).prop("disabled", true);

    var parameters = {
        userFunction : serializeUserFunction()
    }

    $.ajax({
        type: "POST",
        url: '/userFunction',
        data: JSON.stringify(parameters),
        dataType: 'json',
        contentType: 'application/json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                $('#modalAddUserFunction').modal("hide");
                setTimeout(function(){
                    load("/userFunction/index");
                }, 200);
            }
        },
        error    : function(response) {
            gritter.show(response.responseText, false);
        }
    });

    $(this).prop("disabled", false);
    
});

//delete
$("#userFunctionsList").on('click', '.deleteUserFunction', function() {
    var userFunctionId = $(this).attr("data-userFunctionId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "DELETE",
        url: '/userFunction/'+userFunctionId,
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/userFunction/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

function serializeUserFunction() {
    var userFunction = new Object();
    userFunction.reference = $("#reference").val();
    userFunction.name = $("#name").val();

    return userFunction;
}

function validateInputs() {
    if ($("#reference").val() == "" || $("#name").val() == "") {
        gritter.show($("#empty_text").text(), false);
        return true;
    }

    return false;
}

</script>