<div id="contain"  data-translate-catalog="auth/messages">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-users"></i>
                Users
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>Users</h4>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="user_newUser" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="user_userList" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th name="userName">User name</th>
                                    <th>Full name</th>
                                    <th>Email</th>
                                    <th>Locked</th>
                                    <th>Enabled</th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge users ?>
                                <tr id="[?merge .accountId ?]">
                                    <td><?merge .accountName ?></td>
                                    <td><?merge .displayName ?></td>
                                    <td><?merge .emailAddress ?></td>
                                    <td class="lockStatus">
                                        <?merge .locked.not() ?><i class="fa fa-unlock"></i>
                                        <?merge .locked.ifne(false) ?><i class="fa fa-lock"></i>
                                    </td>
                                    <td class="userStatus">
                                        <?merge .enabled.not() ?><i class="fa fa-ban"></i>
                                        <?merge .enabled.ifne(false) ?><i class="fa fa-check"></i>
                                    </td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="editUser btn btn-info" data-accountid="[?merge .accountId ?]" title="Edit">
                                                <span class="fa fa-fw fa-edit"></span>
                                            </button>
                                            <a href="#" class="lockUser btn btn-warning" style="display: [?merge .locked.then('none', '') ?]" data-accountid="[?merge .accountId ?]" title="Lock">
                                                <span class="fa fa-fw fa-lock"></span>
                                            </a>
                                            <a href="#" class="unlockUser btn btn-warning" style="display: [?merge .locked.then('', 'none') ?]" data-accountid="[?merge .accountId ?]" title="Unlock">
                                                <span class="fa fa-fw fa-unlock"></span>
                                            </a>
                                            <a href="#" class="enableUser btn btn-danger" style="display: [?merge .enabled.then('none', '') ?]" data-accountid="[?merge .accountId ?]" title="Enable">
                                                <span class="fa fa-fw fa-check"></span>
                                            </a>
                                            <a href="#" class="disableUser btn btn-danger" style="display: [?merge .enabled.then('', 'none') ?]" data-accountid="[?merge .accountId ?]" title="Disable">
                                                <span class="fa fa-fw fa-times"></span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- modals for disabling user -->
        <?hinclude auth/userAccount/admin/modalsForDisabling.html ?>
    </div>
</div>
<script type="application/javascript">
    
    
//add
$("#user_newUser").on('click',  function() {
    load("/userAccount/new");
});

//edit
$("#user_userList").on('click', '.editUser', function() {
    var accountId = $(this).data("accountid");
    load("/userAccount/edit/"+accountId);
});

//unlock
$("#user_userList").on('click', '.unlockUser', function() {
    var button = $(this);
    var accountId = button.data('accountid');

    var parameters = {
        user : accountId
    };
    $.ajax({
        url         : "/userAccount/unlock/"+accountId,
        type        : "PUT",
        data        : JSON.stringify(parameters),
        contentType : 'application/json',
        dataType    : 'json',
        success     : function(response){
            gritter.show(response.message, response.status, response.errors);
            if(response.status) {
                button.css('display', 'none').closest('td').find('.lockUser').css('display', '');
                $('#'+accountId).find('.lockStatus > i').addClass('fa-unlock').removeClass('fa-lock');
            }
        },
        error       : function(response) {
            gritter.show(response.responseText, false);
        }
    })
});

//lock
$("#contain").on('click', '.lockUser', function() {
    var button = $(this);
    var accountId = button.data('accountid');

    var parameters = {
        user : accountId
    };
    $.ajax({
        url         : "/userAccount/lock/"+accountId,
        type        : "PUT",
        data        : JSON.stringify(parameters),
        contentType : 'application/json',
        dataType    : 'json',
        success     : function(response){
            gritter.show(response.message, response.status, response.errors);
            if(response.status) {
                button.css('display', 'none').closest('td').find('.unlockUser').css('display', '');
                $('#'+accountId).find('.lockStatus > i').addClass('fa-lock').removeClass('fa-unlock');
            }
        },
        error       : function(response) {
            gritter.show(response.responseText, false);
        }
    });
});

//enable
$("#contain").on('click', '.enableUser', function() {
    $('#enableUserModal').modal('show');
    $('#confirmEnabling').attr('data-accountid', $(this).attr('data-accountid'));
});

//disable
$("#contain").on('click', '.disableUser', function() {
    $('#disableUserModal').modal('show');
    $('#replacingUser').val('');
    $('#confirmDisabling').attr('data-accountid', $(this).attr('data-accountid'));
});

</script>