<div class="modal fade" id="disableUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Disable user</h4>
            </div>
            <div class="modal-body">
                <p>
                    You are about to disable this user. Please chose a replacing user to complete this action. 
                </p>
                <input type="text" class="form-control" placeholder="User" id="replacingUser" data-replacinguseraccountid=""/>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelDisabling" data-dismiss="modal" title="Close">Close</button>
                <button type="button" class="btn btn-primary" id="confirmDisabling" data-useraccountid title="Ok">Ok</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="enableUserModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Enable user</h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure to reactive this user ?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="cancelEnabling" data-dismiss="modal" title="Close">Close</button>
                <button type="button" class="btn btn-primary" id="confirmEnabling" title="Yes">Yes</button>
            </div>
        </div>
    </div>
</div>


<script >
$(document).ready(function(){
        // Define data source for person typeahead
        var personsSource = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/userAccount/queryUsers/%QUERY',
                ajax : {
                    async: false
                }
            },
            limit: 100
        });
        personsSource.initialize();

        // initialize typeahead
        $('#replacingUser').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 3
            }, 
            // data source contacts
            {
                name: 'users',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>No user found</span>";
                    },
                    suggestion: function(person) {
                        var display = 
                            "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>" 
                                + person.displayName;
                        display += 
                                "</span>";
                        display += 
                            "</span>";
                        $("#replacingUser").attr('data-replacinguseraccountid', person.accountId);   
                        return display;
                    }
                },
                source: function(query, cb) {
                    personsSource.get(query, function(suggestions) {
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#replacingUser").attr('data-replacinguseraccountid', suggestion.userAccountId);
        });
    })
    
    $('#cancelEnabling').on('click', function(){
        $('#enableUser').removeClass('active').find('input').prop('checked', false);
        $('#disableUser').addClass('active').find('input').prop('checked', true);
    });

    $('#confirmDisabling').on('click', function(){
        replacingUserId = $("#replacingUser").data('replacinguseraccountid');
        userAccountId = $(this).attr('data-accountid');
        
        var parameters = {
            user : userAccountId,
            replacingUser :replacingUserId
        };       
        $.ajax({
            url         : '/useraccount/disable/'+userAccountId+'/'+replacingUserId,
            type        : 'PUT',
            data        : JSON.stringify(parameters),
            contentType : 'application/json',
            dataType    : 'json',
            success     : function(response) {
                var tr = $('#'+userAccountId);
                gritter.show(response.message, response.status, response.errors);
                $('#disableUserModal').modal('hide');
                tr.find('.userStatus > i').removeClass('fa-check').addClass('fa-ban');
                tr.find('.disableUser').css('display', 'none');
                tr.find('.enableUser').css('display', '');
            },
            error: function(response) {
                gritter.show(response.responseText, false);
            }
        });
    });

    $('#cancelDisabling').on('click', function(){
        $('#enableUser').addClass('active').find('input').prop('checked', true);
        $('#disableUser').removeClass('active').find('input').prop('checked', false);
    });

    $('#confirmEnabling').on('click', function(){
        userAccountId = $(this).attr('data-accountid');
        
        var parameters = {
          user : userAccountId  
        };
        $.ajax({
            url         : '/useraccount/enable/'+userAccountId,
            type        : 'PUT',
            contentType : 'application/json',
            data        : JSON.stringify(parameters), 
            success     : function(response) {
                var tr = $('#'+userAccountId);

                gritter.show(response.message, response.status, response.errors);
                $('#enableUserModal').modal('hide');
                tr.find('.userStatus > i').removeClass('fa-ban').addClass('fa-check');
                tr.find('.disableUser').css('display', '');
                tr.find('.enableUser').css('display', 'none');
            },
            error       : function(response) {
                gritter.show(response.responseText, false);
            }
        });
        $('#orgUnitConfirmDelete').modal('hide');
    });
</script>