<div id="contain" data-translate-catalog="businessExpenses/mileageAllowanceScale">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-car"></i>
                Mileage allowances scale
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm" id="btnModalMileageAllowanceScale" title="Add"><i class="fa fa-plus">&nbsp;</i>Add</button>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="listMileageAllowanceScale" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Year</th>
                                    <th>Tax horsepower</th>
                                    <th>Range</th>
                                    <th></th>
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge mileageAllowances ?>
                                <tr id="[?merge .mileageAllowanceScaleId ?]">
                                    <td><?merge .year ?></td>
                                    <td><?merge .taxHorsepower ?></td>
                                    <td><?merge .rangeBegin ?> - <?merge .rangeEnd ?></td>
                                    
                                    <?merge .regularization.bool() ?>
                                    <td>(<?merge .rate ?> x d) + <?merge .regularization ?></td>
                                    
                                    <?merge .regularization.bool().not() ?>
                                    <td><?merge .rate ?> x d</td>
                                    
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="deleteMileageAllowance btn btn-danger" data-mileageAllowanceScaleId="[?merge .mileageAllowanceScaleId ?]" title="Delete">
                                                <span class="fa fa-fw fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="mileageAllowanceModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="fa fa-remove"></span></button>
                      <h4 class="modal-title" id="myModalLabel">Add a new mileage allowance</h4>
                    </div>
                    <div class="modal-body">
                        <form id="formNewMileageAllowance" class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="taxHorsepower">Tax horsepower<span style="color: red">&nbsp;*</span></label>
                                    <input type="number" class="form-control" name="taxHorsepower" id="taxHorsepower" min="1" max="20" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="rangeBegin">Range begin<span style="color: red">&nbsp;*</span></label>
                                    <input type="number" class="form-control" name="rangeBegin" id="rangeBegin" min="0" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="rate">Rate<span style="color: red">&nbsp;*</span></label>
                                    <input type="number" class="form-control" name="rate" id="rate" min="0" max="1" step="0.001" required="required"/>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="year">Year<span style="color: red">&nbsp;*</span></label>
                                    <input type="number" class="form-control" name="year" id="year" min="2015" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="rangeEnd">Range end<span style="color: red">&nbsp;*</span></label>
                                    <input type="number" class="form-control" name="rangeEnd" id="rangeEnd" min="0" required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="regularization">Regularization</label>
                                    <input type="number" class="form-control" name="regularization" id="regularization" min="0" max="3000"/>
                                </div>
                            </div>
                            <input type="submit" class="hide" id="submit" />
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success" id="btnAddMileageAllowanceScale" >Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none">
        <span id="empty_text">The fields with a star are compulsory.</span>
        <span id="regexCalculationError">calculations must only contain the following characters : 0 1 2 3 4 5 6 7 8 9 + - / * ( ) x d ,</span>
        <span id="regexDistanceError">Calculations must contain the representation of the distance by the letter 'd'</span>
    </div>
</div>
<script type="application/javascript">
    
//modal
$("#btnModalMileageAllowanceScale").on('click', function() {
    $('#mileageAllowanceModal').modal("show");
});

//add
$("#btnAddMileageAllowanceScale").on('click', function() {
    if (!$("#formNewMileageAllowance")[0].checkValidity()) {
        $("#submit").click();
        return;
    }

    /*if (validateInputs()) {
        return;
    }*/

    var parameters = {
        mileageAllowanceScale : serializeMileageAllowanceScale()
    }
    
    $.ajax({
        type: "POST",
        url: '/mileageAllowanceScale',
        data: JSON.stringify(parameters),
        dataType: 'json',
        contentType: 'application/json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                $('#mileageAllowanceModal').modal("hide");
                setTimeout(function(){
                    load("/mileageAllowanceScale/index");
                }, 200);
            }
        },
        error    : function(response) {
            gritter.show(response.responseText, false);
        }
    });
});

//remove
$(".deleteMileageAllowance").on('click', function() {
    var mileageAllowanceScaleId = $(this).attr('data-mileageAllowanceScaleId');

    $(this).prop("disabled", true);

    $.ajax({
        type: "DELETE",
        url: '/mileageAllowanceScale/'+mileageAllowanceScaleId,
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/mileageAllowanceScale/index");
            }
        },
        error    : function(response) {
            gritter.show(response.responseText, false);
        }
    });

    $(this).prop("disabled", false);
});

function serializeMileageAllowanceScale() {
    var mileageAllowanceScale = new Object();
    mileageAllowanceScale.taxHorsepower = $("#taxHorsepower").val();
    mileageAllowanceScale.category = "car";
    mileageAllowanceScale.rangeBegin = $("#rangeBegin").val();
    mileageAllowanceScale.rangeEnd = $("#rangeEnd").val();
    
    mileageAllowanceScale.rate = $("#rate").val().replace(",",".");
    mileageAllowanceScale.regularization = $("#regularization").val();
    mileageAllowanceScale.year = $("#year").val();

    return mileageAllowanceScale;
}

function validateInputs() {
    var error = false;
    $("#formNewMileageAllowance").find("input").each(function(){
        if($(this).val() == "") {
            gritter.show($("#empty_text").text(), false);
            error = true;
            return false;
        }
    });
    
    if (error) {
        return error;
    }
    
    var calculationReg = /^[0-9\+\*\-\/\(\)xd, ]+$/;
    if (!calculationReg.test($("#calculationColomn1").val())
            || !calculationReg.test($("#calculationColomn2").val())
            || !calculationReg.test($("#calculationColomn3").val())
        ) {
        gritter.show($("#regexCalculationError").text(), false);
        error = true;
    }
    
    if (error) {
        return error;
    }
    
    if (!($("#calculationColomn1").val().indexOf("d") >= 0)
            || !($("#calculationColomn2").val().indexOf("d") >= 0)
            || !($("#calculationColomn3").val().indexOf("d") >= 0)
        ) {
        gritter.show($("#regexDistanceError").text(), false);
        error = true;
    }
    
    return error;
}

</script>