<div id="contain" >
<div class="container-fluid" lang="en" data-translate-catalog="lifeCycle/messages">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="page-header">
                <i class="fa fa-newspaper-o">&nbsp;</i>
                Life cycle event search
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid" data-translate-catalog="lifeCycle/messages">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="cursor:pointer;">
                <h4 class="panel-title" style="float:left;">
                    Search form
                </h4>
                <i class="fa fa-caret-down" style="float:right;"></i>
                <div style="clear:both;"></div>
            </div>
            <div id="collapseOne" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                <form class="form-horizontal">
                    <div class="row">
                        <div class="col-md-6 col-lg-5 col-lg-offset-1">
                            <div class="form-group">
                                <label for="eventType" class="col-md-5 control-label">Event Type</label>
                                <div class="col-md-7">
                                    <select class="form-control" id="eventType" name="eventType">
                                        <option value="">Event Type</option>
                                        <?merge eventType ?>
                                        <option value="[?merge . ?]"><?merge . ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="archiveId" class="col-md-5 control-label">Identifier</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" id="archiveId" name="archiveId" placeholder="Identifier">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="form-group">
                                <label for="minDate" class="col-md-5 control-label" data-translate-context="date">From</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control datePicker" id="minDate" name="minDate" placeholder="Start date">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="maxDate" class="col-md-5 control-label" data-translate-context="date">to</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control datePicker" id="maxDate" name="maxDate" placeholder="End date">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="pull-right">
                            <button type="button" id="search" class="btn btn-primary" title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                            <button type="button" id="reset" class="btn btn-warning" title="Reset">&nbsp;<i class="fa fa-refresh">&nbsp;</i>Reset</button>
                        </div>
                    </div>
                </form>
            </div>  
        </div>  
    </div>
    <div class="container-fluid" id="searchResult">
    </div>
    <span id="emptyForm_text" class="hide">The form is empty.</span>
</div>

<!-- Modal -->
<?hinclude lifeCycle/eventModal.html ?>
    
</div>
<script>

    $(document).keypress(function(e){
        if (e.which != 13) {
             return;
        }
        // Prevent form submit
        e.preventDefault();
        
        $("#search").click();
    });

    //reset
    $("#contain").on('click', '#reset', function(){
        $('input, select').val('');
        $('#archiveId').prop('disabled', false);
        $('#searchResult').html('');
    })

    //search
    $("#contain").on('click', '#search', function(){

        var eventType = $('#eventType').val();
        var archiveId = $('#archiveId').val();
        var minDate = $('#minDate').val();
        var maxDate = $('#maxDate').val();

        if(''+eventType+archiveId+minDate+maxDate) {
            $.ajax({
                url         : "/lifeCycle/journal/searchEvent",
                type        : "GET",
                data        : {
                                eventType : eventType,
                                archiveId : archiveId,
                                minDate : minDate,
                                maxDate : maxDate
                                },
                contentType : 'application/json',
                dataType    : 'html',
                success     : function(response){
                    $('#searchResult').html(response);
                },
                error       : function(response) {
                    gritter.show(response.responseText, false);
                }
            })
        }
        else {
            gritter.show($('#emptyForm_text').html(), false);
        }
    })

$("#searchResult").on('click', '.showEvent', function () {
    eventInfo.load($(this).data('eventid'));
})

</script>