<div class="row">
    <div class="col-xs-12">
        <div class="panel panel-primary">
            <div class="panel-heading clearfix">
                <div class="pull-left">
                    <h4></h4>
                </div>
            </div>
            <div class="panel-body" style="padding: 0;">
                <table class="table table-bordered table-condensed dataTable" style="margin: 0;" id="list">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>User</th>
                            <th>Message</th>
                        </tr>
                    </thead>
                    <tbody>
                        <?merge entries ?>
                        <tr class="auditEntry small" data-json="[?merge .json() ?]" data-entry="[?merge .entryDate ?]#[?merge .entryType ?]#[?merge .userName ?]#[?merge .message ?]">
                            <td><?merge .entryDate.format('d-m-Y H:i:s') ?></td>
                            <td><?merge .userName ?></td>
                            <td><?merge .message ?></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $("#list").on('click', '.auditEntry', function () {
        datas = $(this).attr('data-entry');
        datas = datas.split("#");
        $('#audit_entryDate').html(datas[0]);
        $('#audit_entryType').html(datas[1]);
        $('#audit_userName').html(datas[2]);
        $('#audit_message').html(datas[3]);
    })
</script>