<div id="contain" >
    <div class="container-fluid" data-translate-catalog="audit/messages">
        <div class="page-header">
            <h1>
                <i class="fa fa-search"></i>
                Audit search
            </h1>
        </div>
    </div>
    <div class="container-fluid" lang="en" data-translate-catalog="audit/messages">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="cursor:pointer;">
                    <h4 class="panel-title" style="float:left;">
                        Search form
                    </h4>
                    <i class="fa fa-caret-down" style="float:right;"></i>
                    <div style="clear:both;"></div>
                </div>
                <div id="collapseOne" class="well panel-collapse collapse in" style="margin-bottom: 0px">
                    <form class="form-horizontal" id="event_form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="fromDate">Entry date to</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control datePicker" name="fromDate" id="fromDate" placeholder="Start date"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="toDate">from</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control datePicker" name="toDate" id="toDate" placeholder="End date"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="status">Status</label>
                                <div class="btn-group col-sm-7" data-toggle="buttons" >
                                    <label class="btn btn-default active status" title="all">
                                        <input type="checkbox" id="all" name="status" value="all">All
                                    </label>
                                    <label class="btn btn-default status" title="noErrors">
                                        <input type="checkbox" id="true" name="status" value="true">Success
                                    </label>
                                    <label class="btn btn-default status" title="errors">
                                        <input type="checkbox" id="false" name="status" value="false">Errors
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label" for="userIdAudit">Account</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Account" id="event_userAccountTypeahead" data-accountid=""/>
                                    </div>
                                </div>
                                <label class="col-sm-4 control-label">Event type</label>
                                <div class="btn-group col-sm-8" data-toggle="buttons">
                                    <label class="btn btn-info active eventTypeAll" title="All">
                                        <input type="checkbox" id="eventType" name="eventType" value="all" checked/> All
                                    </label>
                                    <label class="btn btn-default eventType" title="Read">
                                        <input type="checkbox"  name="eventType" value="read">Read
                                    </label>
                                    <label class="btn btn-default eventType" title="Create">
                                        <input type="checkbox"  name="eventType" value="create">Create
                                    </label>
                                    <label class="btn btn-default eventType" title="Update">
                                        <input type="checkbox"  name="eventType" value="update" >Update
                                    </label>
                                    <label class="btn btn-default eventType" title="Delete">
                                        <input type="checkbox"  name="eventType" value="delete">Delete
                                    </label>
                                </div>
                            </div>
                            <div class="form-group" class>
                                <label class="col-sm-4 control-label" for="eventType">Event</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="event" id="event" >
                                        <option value="">Select an event</option>
                                        <?merge events ?>
                                        <option value="[?merge .path ?]" class="[?merge .class ?]"><?merge .path ?></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <button type="button" class="btn btn-primary col-md-offset-4 col-md-4" id="search" data-form-submit title="Search"><i class="fa fa-search">&nbsp;</i>Search</button>
                            <button type="button" class="btn btn-warning col-md-offset-1" id="reset" data-form-reset title="Reset"><i class="fa fa-refresh">&nbsp;</i>Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="resultSearch"></div>
        <div class="modal fade" id="modalEvent" data-backdrop="static" data-keyboard="false" tabindex="999"  data-focus-on="input:first" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content" id="modalEvent_content">
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $status= 'all';
        $('select').find('option').removeClass('hidden');
        $(document).keypress(function (e) {
            if (e.which != 13) {
                return;
            }
            // Prevent form submit
            e.preventDefault();
            $("#search").click();
        });

        $(document).ready(function () {
            $('#search').on('click', function () {
                var account = $("#event_accountTypeahead").data('user');
                var parameters = serializeEvent();
                if (account) {
                    parameters += "&accountId=" + account.accountId;
                }
                $('#search').attr('disabled', '');
                $.ajax({
                    type: 'GET',
                    url: '/audit/search',
                    data: parameters,
                    dataType: 'html',
                    contentType: 'application/json',
                    async: true,
                    headers: { 'X-Laabs-Max-Count': 100 },
                    success: function (response) {
                        $('#resultSearch').html('');
                        $('#resultSearch').append(response);
                    }
                });
                $('#search').removeAttr('disabled');
            });

            $("#reset").on("click", function () {
                var form = $('#event_form');

                form.find('input select').val('');

                form.find('.eventType').removeClass('btn-info active').addClass('btn-default');
                form.find('.eventTypeAll').removeClass('btn-default').addClass('btn-info active');
                $("#resultSearch").empty().html('');
            });

            var users = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {url: '/userAccount/todisplay', ttl: '0'},
                limit: 100
            });
            users.initialize();

            var services = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('serviceName'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                prefetch: {url: '/serviceAccount/todisplay', ttl: '0'},
                limit: 100
            });
            services.initialize();

            $('#event_userAccountTypeahead').typeahead(
                    {
                        hint: true,
                        highlight: true,
                        minLength: 3
                    },
            {
                name: 'users',
                displayKey: function (user) {
                    var name = user.displayName;
                    if (name == undefined) {
                        name = user.serviceName;
                    }
                    return name;
                },
                templates: {
                    empty: function () {
                        return "<span class='well well-sm'>No user found</span>";
                    },
                    suggestion: function (user) {
                        var name = user.displayName;
                        var icone = "<span class='fa fa-user' >&nbsp;</span>";
                        if (name == undefined) {
                            name = user.serviceName;
                            icone = "<span class='fa fa-laptop' >&nbsp;</span>";
                        }
                        var display =
                                "<span>"
                                + icone
                                + "<span style='font-family:Helvetica, sans-serif;'>"
                                + name
                                + "</span>"
                                + "</span>";
                        
                        $("#event_userAccountTypeahead").attr('data-accountid', user.accountId);
                        
                        return display;
                    }
                },
                source: function (query, cb) {
                    var listSuggestion = "";
                    services.get(query, function (suggestions) {
                        listSuggestion = suggestions;
                    });
                    users.get(query, function (suggestions) {
                        $.extend(listSuggestion, suggestions);
                    });
                    cb(listSuggestion);
                },
                skipCache: true
            }
            ).on('typeahead:selected', function ($event, suggestion, source) {
                $("#event_userAccountTypeahead").data('user', suggestion);
            });
        });

        // checkBox button
        $("#event_form").on('click', '.eventType', function () {

            type = $(this).find('input').val();
            if ($(this).attr('class').indexOf('btn-default') != -1) {

                $('#event_form ').find('.eventTypeAll').removeClass('btn-info active').addClass('btn-default');
                $(this).removeClass('btn-default').addClass('btn-info');

                if ($('#event_form ').find('.eventType').hasClass('active') == false) {
                    $('select').find('option').addClass('hidden');
                }

                if (type == 'read') {
                    $('select').find('option.read').removeClass('hidden');
                } else if (type == 'create') {
                    $('select').find('option.create').removeClass('hidden');
                } else if (type == 'update') {
                    $('select').find('option.update').removeClass('hidden');
                } else if (type == 'delete') {
                    $('select').find('option.delete').removeClass('hidden');
                }

            } else {

                if (type == 'read') {
                    $('select').find('option.read').addClass('hidden');
                } else if (type == 'create') {
                    $('select').find('option.create').addClass('hidden');
                } else if (type == 'update') {
                    $('select').find('option.update').addClass('hidden');
                } else if (type == 'delete') {
                    $('select').find('option.delete').addClass('hidden');
                }

                $(this).removeClass('btn-info').addClass('btn-default');
            }
        });
        
        // checkBox button
        $("#event_form").on('click', '.status', function () {

            type = $(this).find('input').val();
            
            if ($(this).attr('class').indexOf('btn-default') != -1) {
                $status = type;
                $('#event_form ').find('.status').removeClass('btn-info active').addClass('btn-default');
                $(this).removeClass('btn-default').addClass('btn-info');

            } else {
                $('#event_form ').find('.status').removeClass('btn-info active').addClass('btn-default');
                $(this).removeClass('btn-default').addClass('btn-info');

                $(this).removeClass('btn-info').addClass('btn-default');
            }
        });
 
        $("#event_form").on('click', '.eventTypeAll', function () {

            $('#event_form ').find('.eventType').removeClass('btn-info active').addClass('btn-default');
            $(this).removeClass('btn-default').addClass('btn-info');

            $('select').find('option').removeClass('hidden');
        });

        $("#contain").on('click', '.viewEvent', function () {

            var eventId = $(this).attr('data-eventId');
            $.ajax({
                type: 'GET',
                url: '/audit/' + eventId,
                dataType: 'html',
                contentType: 'application/json',
                async: true,
                success: function (response) {
                    $('#modalEvent_content').html(response);

                    $('#modalEvent').modal();
                }
            });
        });
        
        function serializeEvent() {
        serializedObject = {
            fromDate: $('#fromDate').val(),
            toDate: $('#toDate').val(),
            status: $status,
            event: $('#event').val(),
            accountId: $('#event_userAccountTypeahead').attr('data-accountid'),
        };
        return serializedObject;
        }
    </script>

