<div class="panel panel-default dataForm" id="organization_contactPositionForm">
    <div class="panel-heading">
        <h4>Organization contacts <small name="displayName"></small></h4>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="well">
                    <input type="hidden" name="orgId" >
                    <div class="form-group ">
                        <label class='col-md-2 control-label'>Contact</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="Contact" id="organization_contactTypeahead"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="btn-group col-md-8 col-md-offset-2" data-toggle="buttons">
                            <label class="btn btn-info active isSelf" title="Linked to organization">
                                <input type="radio" name="isSelf" value="0" checked/> Linked to organization
                            </label>
                            <label class="btn btn-info isSelf" title="Organization contact">
                                <input type="radio" name="isSelf" value="1"> Organization contact
                            </label>
                        </div>
                    </div>
                   <div class="form-group">
                       <button class="btn btn-success col-xs-offset-8" type="button" id="organization_addContactPosition" title="Add"><i class="fa fa-plus fa-fw"></i>Add</button>
                   </div>
                </div>
                <br/>
                <div class="form-group">
                    <ul class="list-group col-md-8 col-md-offset-2" id="organization_contactPositionList">
                    </ul>
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-primary" id="organization_ContactPositionEnd" title="Done">Done</button>
    </div>

    <span class="hide" id="contact_remove_text">Remove</span>

</div>

<script>

    window.localStorage.clear();
    
    //add a Contact
    $("#organization_addContactPosition").on('click', function(){
        if ($('#organization_contactTypeahead').attr('data-contact')) {
            return;
        }

        var suggestion = $('#organization_contactTypeahead').data('contact');
        var contactId = suggestion.contactId
        var orgId = $('#organization_contactPositionForm').find('input[name="orgId"]').val();
        var isSelf = $('#organization_contactPositionForm').find('input[name="isSelf"]:checked').val();

        $.ajax({
            url         : "/organization/"+orgId+"/contact/"+contactId,
            data        : JSON.stringify({'isSelf':isSelf}),
            type        : "POST",
            contentType : 'application/json',
            dataType    : 'json',
            success     : function(response) {
                gritter.show(response.message, response.status, response.errors);
                addContactPosition(contactId, suggestion.displayName, isSelf);
                $('#organization_contactTypeahead').val('').removeData('contact');
            },
            error       : function(response) {
                gritter.show(response.responseText, false);
            }
        });
    });

    //remove a Contact
    $("#organization_contactPositionForm").on('click', '.removePosition', function() {
        var orgId = $('#organization_contactPositionForm').find('input[name="orgId"]').val();
        var li = $(this);
        var contactId = li.closest('li').attr('id');

        $.ajax({
            url         : "/organization/contactPosition/"+orgId+'/'+contactId,
            type        : "DELETE",
            dataType    : 'json',
            success     : function(response) {
                gritter.show(response.message, response.status, response.errors);
                li.closest('li').remove();
            },
            error       : function(response) {
                gritter.show(response.responseText, false);
            }
        })
    });

    $('#organization_ContactPositionEnd').on('click', function() {
        reloadTree();
        clearContactPositionForm();
    })

    $(document).ready(function() {

        var contacts = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {url: '/contacts/toDisplay', ttl: '0'},
            limit: 100
        });
        contacts.initialize();
        // initialize typeahead
        $('#organization_contactTypeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 2
            }, 
            {
                name: 'contacts',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>No contact found</span>";
                    },
                    suggestion: function(contact) {
                        var display = 
                            "<span>"
                                + "<span class='fa fa-contact' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>" 
                                + contact.displayName
                                + "</span>"
                                + "</span>";

                        return display;
                    }
                },
                source: function(query, cb) {
                    contacts.get(query, function(suggestions) {
                        var i = suggestions.length
                        while (i--) {
                            if ($('#organization_contactPositionList').find('#'+ suggestions[i].contactId).length)
                                suggestions.splice(i, 1);
                        }
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#organization_contactTypeahead").data('contact', suggestion);
        });
    });

    function addContactPosition(contactId, displayName, isSelf) {

        var positionList = $('#organization_contactPositionList');

        var li = $('<li/>')
            .attr('id', contactId)
            .addClass('list-group-item clearfix')
            .appendTo(positionList)
            .html(displayName);

        var span = $('<span/>')
            .addClass('pull-left')
            .appendTo(li);

        if (isSelf == '1') {
            var i = $('<i/>')
                .addClass('fa fa-building fa-fw')
                .html("&nbsp;")
                .prependTo(span);
        } else {
            var i = $('<i/>')
                .addClass('fa fa-commenting-o fa-fw')
                .html("&nbsp;")
                .prependTo(span);
        }
        
        var span = $('<span/>')
            .addClass('pull-right')
            .appendTo(li);

        var a = $('<a/>')
            .addClass('text-danger removePosition')
            .attr('href', '#')
            .attr('title', $('#contact_remove_text').html())
            .css('padding-left', '16px')
            .appendTo(span);

        var i = $('<i/>')
            .addClass('fa fa-times fa-fw')
            .html("&nbsp;")
            .appendTo(a);
    }

    function loadContactPosition(orgId, contactList, orgName) {
        $('#organization_contactPositionForm').find('input[name="orgId"]').val(orgId);
        $('#organization_contactPositionForm').find('small[name="displayName"]').html(orgName);
        $.each(contactList, function() {
            addContactPosition(this['contactId'], this['displayName'], this['isSelf']);
        })
    }

    function clearContactPositionForm() {
        $('#organization_contactPositionForm').css('display', 'none').find('input[type="text"]').val('');
        $('#organization_contactPositionList').html('');
        enableTreeButtons();
    }

</script>
