<div class="modal fade" id="organization_confirmDeleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete organization</h4>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure to delete this organization ? This action will also delete the organizations and persons above !
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" title="Close">Close</button>
                <button type="button" class="btn btn-primary" id="organization_confirmDelete" title="Yes">Yes</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#organization_confirmDelete').on('click', function(){
        $.ajax({
            url: '/organization/'+$(this).data('orgid'),
            type: 'DELETE',
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                gritter.show(response.message, response.status, response.errors);
                reloadTree();
            },
            error: function(response) {
                gritter.show(response.responseText, false);
            }
        });
        $('#organization_confirmDeleteModal').modal('hide');
    });
</script>