<div class="panel panel-default" id="organiaztion_organizationForm">
    <div class="panel-heading">
        <h4><span class="orgFormTitle">Organization</span> <small class="displayName"></small></h4>
    </div>
    <div class="panel-body">
        <form>
            <input type="hidden" name="orgId">
            <input type="hidden" name="ownerOrgId">
            <input type="hidden" name="parentOrgId">
            <input type="hidden" name="isOrgUnit">

            <div class="form-group">
                <label>Organization name <span style="color: red">*</span></label>
                <div class="input-group">
                    <input type="text" class="form-control" name="orgName" placeholder="Organization name">
                    <span class="input-group-btn">
                        <a class="btn btn-default" role="button" data-toggle="collapse" id="organization_showOrgNamesForm" href="#organization_orgNames" aria-expanded="false">
                            <i class="fa fa-plus"></i>
                        </a>
                    </span>
                </div>
            </div>
            <div class="collapse well" id="organization_orgNames">
                <div class="form-group">
                    <label>Other name</label>
                    <input type="text" class="form-control" name="otherOrgName" placeholder="Other name">
                </div>
                  <div class="form-group">
                    <label>Display name <span style="color: red">*</span></label>
                    <input type="text" class="form-control" name="displayName" placeholder="Display name">
                </div>
            </div>
            <div class="form-group">
                <label>Registration number <span style="color: red">*</span></label>
                <input type="text" class="form-control" name="registrationNumber" placeholder="Registration number">
            </div>
            <div id="organization_orgUnitInfo">
                <div class="form-group">
                    <label>Organization role</label>
                    <div class="dropdown">
                        <button id="oganization_addOrgRole" class="btn btn-default" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Add role">
                            Add role
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" id="oganization_selectOrgRole">
                            <?merge orgRole ?>
                            <li><a href="#" data-code="[?merge .code ?]"><?merge .description ?></a></li>
                        </ul>
                    </div>
                    <br/>
                    <div id="organization_orgRoleList" class="btn-toolbar"></div>
                    <br/>
                </div>
                <div class="form-group">
                    <label>Organization type</label>
                    <select class="form-control" name="organizationType">
                        <option value=""></option>
                        <?merge orgType ?>
                        <option value="[?merge .code ?]"><?merge .name?></option>
                    </select>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label>Begin date</label>
                        <input type="text" class="form-control datePicker" name="beginDate" placeholder="Begin date">
                    </div>
                    <div class="form-group col-md-6">
                        <label>End date</label>
                        <input type="text" class="form-control datePicker" name="endDate" placeholder="End date">
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label>Legal classification</label>
                    <input type="text" class="form-control" name="legalClassification" placeholder="Legal classification">
                </div>
                <div class="form-group">
                    <label>Business type</label>
                    <input type="text" class="form-control" name="businessType" placeholder="Business type">
                </div>
            </div>
            <div class="form-group">
                <label>Tax identifier</label>
                <input type="text" class="form-control" name="taxIdentifier" placeholder="Tax identifier">
            </div>
        </form>
        <button type="button" class="btn btn-warning" id="organization_cancel" title="Cancel"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
        <button type="button" class="btn btn-success" id="organization_submit" title="Save"><i class="fa fa-save">&nbsp;</i>Save</button>
    </div>
    <span id="parent_text" class='hide'>Parent</span>
    <span id="organization_text" class='hide'>Organization</span>
    <span id="orgUnit_text" class='hide'>Organization unit</span>

</div>
<div style="display:none">
    <span id="empty_text">The fields with a star are compulsory.</span>
</div>
<script>

    // Display name
    $('#organiaztion_organizationForm').on('change', 'input[name="orgName"]', function() {
        $('#organization_orgNames').find('input[name="displayName"]').val($(this).val());
    })

    // Submit 
    $('#organization_submit').on('click', function() {
        organizationForm.submit();
    })

    // Cancel
    $("#organization_cancel").on('click', function() {
        organizationForm.close();
    })

    // Show orgNames 
    $('#organization_showOrgNamesForm').on('click', function() {
        var icon = $(this).find('i');

        if (icon.hasClass('fa-plus')) {
            icon.removeClass('fa-plus').addClass('fa-minus');
        } else {
            icon.removeClass('fa-minus').addClass('fa-plus');

        }
    })

    // Add role
    $('#oganization_selectOrgRole').on('click', 'a', function() {
        organizationForm.addRole($(this).data('code'));
    })

    // Remove role
    $('#organization_orgRoleList').on('click', '.removeRole', function() {
        var role = $(this).closest('div');
        var code = $(this).closest('div').data('code');

       role.remove();
       $('#oganization_selectOrgRole').find('[data-code="' + code + '"]').parent().css('display', '');

    })

    var organizationForm = {
        newOrg: function(parentName, parentId, ownerOrgId) {
            var orgForm = $('#organiaztion_organizationForm');

            orgForm.css('display', '');
            if (parentName != undefined) {
                orgForm.find('small.displayName').html($('#parent_text').html() + ' : ' + parentName);
                orgForm.find('input[name="parentOrgId"]').val(parentId);
            }

            if (ownerOrgId != undefined) {
                orgForm.find('[name="isOrgUnit"]').prop('checked', true);
                orgForm.find('[name="ownerOrgId"]').val(ownerOrgId);
                orgForm.find('.orgFormTitle').html($('#orgUnit_text').html());
            } else {
                $('#organization_orgUnitInfo').css('display', 'none');
                orgForm.find('.orgFormTitle').html($('#organization_text').html());
            }

            disableTreeButtons();
        },

        show: function(orgId, parentOrgId) {
            disableTreeButtons();

            $.ajax({
                url         : "/organization/"+orgId,
                type        : "GET",
                contentType : 'application/json',
                dataType    : 'json',
                success     : function(response) {
                    $('#organiaztion_organizationForm').css('display', '');
                    organizationForm.load(response);
                    disableTreeButtons();
                },
                error       : function(response) {
                    gritter.show(response.responseText, false);
                    disableTreeButtons();
                }
            })
        },

        load: function(organization) {
            var orgForm = $('#organiaztion_organizationForm');

            orgForm.find('small.displayName').html(organization.displayName);
            $.each(organization, function(key, value) {
                orgForm.find('[name="'+ key +'"]').val(value);
            })
            if (organization.isOrgUnit) {
                orgForm.find('[name="isOrgUnit"]').prop('checked', true); 
                orgForm.find('.orgFormTitle').html($('#orgUnit_text').html());
            } else {
                $('#organization_orgUnitInfo').css('display', 'none');
                orgForm.find('.orgFormTitle').html($('#organization_text').html());
            }

            $.each(organization.orgRoleCodes, function() {
                organizationForm.addRole(this);
            })
        },

        submit: function() {
            var action = "/organization";
            var method = "POST";

            var organization = organizationForm.serialize();

            if(organization.orgId != null) {
                var action = "/organization/" + organization.orgId;
                var method = "PUT";
            }
            
            if(organization.displayName == null || organization.registrationNumber == null) {
                gritter.show($('#empty_text').html(),false);
                return false;
            }
            
            $.ajax({
                url         : action,
                type        : method,
                data        : JSON.stringify({'organization' : organization}),
                contentType : 'application/json',
                dataType    : 'json',
                success     : function(response) {
                    gritter.show(response.message, response.status, response.errors);
                    if(response.status) {
                        organizationForm.close();
                        reloadTree();
                    }
                },
                error       : function(response) {
                    gritter.show(response.responseText, false);
                }
            })
        },

        addRole: function(code) {
            roleOption = $('#oganization_selectOrgRole').find('[data-code="' + code + '"]');
            description = roleOption.html();
            roleOption.parent().css('display', 'none');

            var btnGroup = $('<div/>')
                .data('code', code)
                .addClass('btn-group')
                .appendTo('#organization_orgRoleList');

            var btn = $('<button/>')
                .addClass('btn btn-default btn-sm')
                .prop('disabled', true)
                .html(description)
                .appendTo(btnGroup);

            var delBtn = $('<a/>')
                .addClass('btn btn-default btn-sm removeRole')
                .appendTo(btnGroup);

            var i = $('<i/>')
                .addClass('text-danger fa fa-times fa-fw')
                .appendTo(delBtn);
        },

        serialize: function() {
            var orgObject={
                orgRoleCodes : []
            };

            var inputs = $('#organiaztion_organizationForm').find('input, select, textarea');
            $.each(inputs, function() {
                var value = $(this).val();
                if(value == "") {
                    value = null;
                }
                orgObject[$(this).attr('name')] = value;
            })

            orgObject.isOrgUnit = $('#organiaztion_organizationForm').find('[name="isOrgUnit"]').prop('checked');

            var orgRoles = $('#organization_orgRoleList').find('div');

            $.each(orgRoles, function() {
                orgObject.orgRoleCodes.push($(this).data('code'));
            })

            if (orgObject.displayName == '') {
                orgObject.displayName = orgObject.orgName;
            }

            return orgObject;
        },

        close: function() {
            var form = $('#organiaztion_organizationForm'); 
            form.find('input, select, textarea').val('');
            form.find('small.displayName').html('');
            form.find('[name="isOrgUnit"]').prop('checked', false);
            form.css('display', 'none');
            $('#organization_orgRoleList').html('');
            $('#oganization_selectOrgRole').find('li').css('display', '');
            $('#organization_orgUnitInfo').css('display', '');

            var nameForm = $('#organization_showOrgNamesForm');
            if (nameForm.find('i').hasClass('fa-minus')) {
                nameForm.click();
            }

            enableTreeButtons();
        }
    }

</script>
