<!--#
    This file is part of the registeredMail package.
    (c) Maarch Alexis Ragot <alexis.ragot@maarch.org>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.
#-->
<div id="contain" lang="en" data-translate-catalog="organization/messages">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-sitemap"></i>
                Organization
            </h1>
        </div>
    </div>

    <div class="container-fluid" lang="en" data-translate-catalog="organization/messages">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-6" >
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4 >Organization tree</h4>
                        </div>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="organization_dropdownMenu" data-toggle="dropdown">
                                    <span class="fa fa-bars"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="organization_dropdownMenu">
                                    <li><a id="organization_newOrganization" href="#/">
                                        <span class="fa fa-building">&nbsp;</span>Add an organization</a>
                                    </li>
                                    <!--li class="divider"></li>
                                    <li><a id='hidePersonLeaf' href="#">
                                        <span class="fa fa-user">&nbsp;</span>Hide persons</a>
                                    </li>
                                    <li><a id='showPersonLeaf' href="#" style="display:none">
                                        <span class="fa fa-user">&nbsp;</span>Show persons</a>
                                    </li-->
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                    <div class="panel-body" >
                        <div id="organization_orgTree" class="dataTree panel-group tree">
                            <!-- Organization tree goes here -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-lg-6" id="forms">
                <?hinclude organization/organizationForm.html ?>
                <?hinclude organization/userPositionForm.html ?>
                <?hinclude organization/contactPositionForm.html ?>
                <?hinclude organization/organizationMoveForm.html ?>
            </div>
        </div>
        <!-- modal for delete confirmation -->
        <?hinclude organization/deleteModal.html ?>
    </div>
</div>
<script src="/public/dependency/html/js/bootstrap-tree/bootstrap-tree.js"></script>

<script>
    $(document).ready(function() {
        // Initialization
        initTree();
        $('#organiaztion_organizationForm').css('display', 'none');
        $('#organization_userPositionForm').css('display', 'none');
        $('#organization_contactPositionForm').css('display', 'none');
        $('#organization_moveForm').css('display', 'none');

    });

    $("#hidePersonLeaf").on('click', function() {
            $(".personLeaf").addClass('hideTreeElement').css('display', 'none');
            $(this).css('display', 'none');
            $('#showPersonLeaf').css('display', '');
        });

    $("#showPersonLeaf").on('click', function() {
        $(".personLeaf").removeClass('hideTreeElement')
        $(".tree").find('[title="openedNode"]').next('ul').children(".personLeaf").css('display', '');
        $(this).css('display', 'none');
        $('#hidePersonLeaf').css('display', '');
    });

    // New organization
    $('#organization_newOrganization').on('click', function() {
        organizationForm.newOrg();
    })

    // Modify an organization or an orgUnit
    $("#organization_orgTree").on('click', '.modifyOrganization, .modifyOrgUnit', function() {
        if ($(this).closest('li').hasClass('disabled')) {
            return;
        }
        var orgId = $(this).closest('span').attr("id");
        organizationForm.show(orgId);
    });

    // Add a child organization
    $("#organization_orgTree").on('click', '.addChildOrganization', function() {
        if ($(this).closest('li').hasClass('disabled')) {
            return;
        }
        var span = $(this).closest('span');
        var orgId = span.attr("id");
        var parentName = span.data('orgname');
        organizationForm.newOrg(parentName, orgId);
    });

    // Add a child organization unit
    $("#organization_orgTree").on('click', '.addChildOrgUnit', function() {
        if ($(this).closest('li').hasClass('disabled')) {
            return;
        }
        var span = $(this).closest('span');
        var orgId = span.attr("id");
        var parentName = span.data('orgname');
        var ownerOrgId = span.data('ownerorgid');
        organizationForm.newOrg(parentName, orgId, ownerOrgId);

    });

    // Delete on organization
    $("#organization_orgTree").on('click', '.deleteOrganization', function() {
        if ($(this).closest('li').hasClass('disabled')) {
            return;
        }
        var orgId = $(this).closest('span').attr("id");
        $('#organization_confirmDelete').data('orgid', orgId);
        $('#organization_confirmDeleteModal').modal('show');
    });

    //show the personForm
    $("#organization_orgTree").on('click', '.manageUsers', function() {
        if ($(this).closest('li').hasClass('disabled')) {
            return;
        }
        var orgId = $(this).closest('span').attr("id");
        var orgName = $(this).closest('span').data('orgname');

        $.ajax({
            url      : "/organization/userPosition/"+orgId,
            type     : "GET",
            dataType : 'json', 
            success  : function(response) {
                $('#organization_userPositionForm').css('display', '');
                loadUserPosition(orgId, response, orgName);
                disableTreeButtons();
            }
        })
    })

    //show the contactForm
    $("#organization_orgTree").on('click', '.manageContacts', function() {
        if ($(this).closest('li').hasClass('disabled')) {
            return;
        }
        var orgId = $(this).closest('span').attr("id");
        var orgName = $(this).closest('span').data('orgname');

        $.ajax({
            url      : "/organization/orgContact/"+orgId+"/Org",
            type     : "GET",
            dataType : 'json', 
            success  : function(response) {
                $('#organization_contactPositionForm').css('display', '');
                loadContactPosition(orgId, response, orgName);
                disableTreeButtons();
            }
        })
    })

    // Move an organization
    $("#organization_orgTree").on('click', '.moveOrganization', function() {
        if ($(this).closest('li').hasClass('disabled')) {
            return;
        }
        
        disableTreeButtons();
        moveOrganization.show($(this).closest('span'));
    });

    function disableTreeButtons() {
        $('#organization_orgTree').find('.dropdown-menu').find('li').addClass('disabled');
        $('#organization_dropdownMenu').prop('disabled', true);
    }

    function enableTreeButtons() {
        $('#organization_orgTree').find('.dropdown-menu').find('li').removeClass('disabled');
        $('#organization_dropdownMenu').prop('disabled', false);
    }

    function reloadTree() {
        $.ajax({
            url      : "/organizationTree",
            type     : "GET",
            dataType : 'html',
            success  : function(response) {
                $('#organization_orgTree').empty().html(response);
                initTree();
            },
            error    : function(response) {
                gritter.show(response.responseText, false);
            }
        })
    }

</script>
