<li lang="en" data-translate-catalog="organization/messages" class="orgUnitNode">
    <span class="node" id="[?merge .orgId ?]" data-orgname="[?merge .displayName?]" data-ownerorgid="[?merge .ownerOrgId?]">
        <i class="fa">&nbsp;</i>&nbsp;<?merge .displayName?>&nbsp;&nbsp;
        <div class="dropdown btn-group">
                <i class="menu fa fa-bars dropdown-toggle" data-toggle="dropdown" style="cursor:pointer"></i>
            <ul class="dropdown-menu" role="menu">
                <li class="modifyOrgUnit"><a href="#contain"><i class="fa fa-edit">&nbsp;</i>Update</a></li>
                <li class="addChildOrgUnit"><a href="#contain"><i class="fa fa-plus" >&nbsp;</i>Add a child organization unit</a></li>
                <li class="manageUsers"><a href="#contain"><i class="fa fa-users">&nbsp;</i>Manage users</a></li>
                <li class="manageContacts"><a href="#contain"><i class="fa fa-commenting-o">&nbsp;</i>Manage contacts</a></li>
                <li class="moveOrganization"><a href="#contain"><i class="fa fa-share">&nbsp;</i>Move</a></li>
                <li class="deleteOrganization"><a href="#contain"><i class="fa fa-trash-o">&nbsp;</i>Delete</a></li>
            </ul>
        </div>
    </span>
    <input type="checkbox" class="hide" style="width:20px; height:20px"/>
</li>