<div class="panel panel-default dataForm" id="organization_userPositionForm" lang="en" data-translate-catalog="organization/messages">
    <div class="panel-heading">
        <h4>Organization users <small name="displayName"></small></h4>
    </div>
    <div class="panel-body">
        <div class="col-xs-12">
            <form class="form-horizontal">
                <div class="well">
                    <input type="hidden" name="orgId" >
                    <div class="form-group ">
                        <label class='col-md-2 control-label'>User</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" placeholder="User" id="organization_userTypeahead"/>
                        </div>
                    </div>
                    <!--div class="form-group ">
                        <label class='col-md-2 control-label'>Function</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" name="function" placeholder="Function"/>
                        </div>
                    </div-->
                    <div class="form-group ">
                        <label class='col-md-2 control-label'>Function</label>
                        <div class="col-md-8">
                            <select type="text" class="form-control" name="function" placeholder="Function" name="function">
                                <option></option>
                                <?merge userFunctions ?>
                                <option value="[?merge .reference ?]"><?merge .name ?></option>
                            </select>
                        </div>
                    </div>
                   <div class="form-group">
                       <button class="btn btn-success col-xs-offset-8" type="button" id="organization_addUserPosition" title="Add" disabled><i class="fa fa-plus fa-fw"></i>Add</button>
                   </div>
                </div>
                <br/>
                <div class="form-group">
                    <ul class="list-group col-md-8 col-md-offset-2" id="organization_userPositionList">
                    </ul>
                </div>
            </form>
        </div>
        <button type="button" class="btn btn-primary" id="organization_userPositionEnd" title="Done">Done</button>
    </div>

    <span class="hide" id="remove_text">Remove</span>
    <span class="hide" id="default_text">default</span>
    <span class="hide" id="setDefault_text">set default</span>

</div>

<script>
    
    $('#organization_userTypeahead').on('keyup', function(){
        var btn = $('#organization_addUserPosition');
        var input = $(this);

            btn.prop('disabled', true);
    })

    //add a user
    $("#organization_addUserPosition").on('click', function(){
        if ($('#organization_userTypeahead').attr('data-user')) {
            return;
        }

        var suggestion = $('#organization_userTypeahead').data('user');
        var accountId = suggestion.accountId
        var orgId = $('#organization_userPositionForm').find('input[name="orgId"]').val();
        var userFunction = $('#organization_userPositionForm').find('select[name="function"] :selected').val();
        var userFunctionName = $('#organization_userPositionForm').find('select[name="function"] :selected').text();

        $.ajax({
            url         : "/organization/userPosition/"+orgId+'/'+accountId,
            data        : JSON.stringify({'function':userFunction}),
            type        : "POST",
            contentType : 'application/json',
            dataType    : 'json',
            success     : function(response) {
                gritter.show(response.message, response.status, response.errors);
                addUserPosition(accountId, suggestion.displayName, userFunctionName);
                $('#organization_userTypeahead').val('').removeData('user');
                $('#organization_userPositionForm').find('[name="function"]').val('');
                $('#organization_addUserPosition').prop('disabled', false);
            },
            error       : function(response) {
                gritter.show(response.responseText, false);
            }
        })
    });

    //remove a user
    $("#organization_userPositionForm").on('click', '.removePosition', function() {
        var orgId = $('#organization_userPositionForm').find('input[name="orgId"]').val();
        var li = $(this);
        var accountId = li.closest('li').attr('id');

        $.ajax({
            url         : "/organization/userPosition/"+orgId+'/'+accountId,
            type        : "DELETE",
            dataType    : 'json',
            success     : function(response) {
                gritter.show(response.message, response.status, response.errors);
                li.closest('li').remove();
            },
            error       : function(response) {
                gritter.show(response.responseText, false);
            }
        })
    });

    // set default
    $("#organization_userPositionForm").on('click', '.setDefaultBtn', function() {
        var orgId = $('#organization_userPositionForm').find('input[name="orgId"]').val();
        var btn = $(this);
        var accountId = btn.closest('li').attr('id');

        $.ajax({
            url         : "/organization/setDefaultPosition/"+orgId+'/'+accountId,
            type        : "PUT",
            dataType    : 'json',
            success     : function(response) {
                gritter.show(response.message, response.status, response.errors);
                btn.css('display', 'none');
                btn.parent().find('.defaultBtn').css('display', '');
            },
            error       : function(response) {
                gritter.show(response.responseText, false);
            }
        })

    })

    $('#organization_userPositionEnd').on('click', function() {
        reloadTree();
        clearUserPositionForm();
    })

    $(document).ready(function() {

        var users = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('displayName'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            prefetch: {url: '/userAccount/todisplay', ttl: '0'},
            limit: 100
        });
        users.initialize();

        // initialize typeahead
        $('#organization_userTypeahead').typeahead(
            {
                hint: true,
                highlight: true,
                minLength: 2
            }, 
            {
                name: 'users',
                displayKey: 'displayName',
                templates: {
                    empty: function() {
                        return "<span class='well well-sm'>No user found</span>";
                    },
                    suggestion: function(user) {
                        var display = 
                            "<span>"
                                + "<span class='fa fa-user' >&nbsp;</span>"
                                + "<span style='font-family:Helvetica, sans-serif;'>" 
                                + user.displayName
                                + "</span>"
                                + "</span>";

                        return display;
                    }
                },
                source: function(query, cb) {
                    users.get(query, function(suggestions) {
                        var i = suggestions.length
                        while (i--) {
                            if ($('#organization_userPositionList').find('#'+ suggestions[i].accountId).length)
                                suggestions.splice(i, 1);
                        }
                        cb(suggestions);
                    });
                },
                skipCache: true
            }
        ).on('typeahead:selected', function($event, suggestion, source) {
            $("#organization_userTypeahead").data('user', suggestion);
            $('#organization_addUserPosition').prop('disabled', false);
        });
    });

    function addUserPosition(accountId, displayName, userFunctionName, setDefault) {
        if (userFunctionName) {
            displayName += " ("+userFunctionName+")";
        }

        var positionList = $('#organization_userPositionList');

        var li = $('<li/>')
            .attr('id', accountId)
            .addClass('list-group-item clearfix')
            .appendTo(positionList)
            .html(displayName);
            
        var span = $('<span/>')
            .addClass('pull-right')
            .appendTo(li)
            .on('mouseenter', function() {
                $(this).find('.setDefaultBtn').css('visibility', '');
            })
            .on('mouseleave', function() {
                $(this).find('.setDefaultBtn').css('visibility', 'hidden');
            });

        var defaultBtn = $('<a/>')
            .addClass('btn btn-info btn-xs defaultBtn disabled')
            .html($('#default_text').html())
            .appendTo(span);

        var setDefaultBtn = $('<a/>')
            .addClass('btn btn-default btn-xs setDefaultBtn')
            .css('visibility', 'hidden')
            .html($('#setDefault_text').html())
            .appendTo(span);

        var a = $('<a/>')
            .addClass('text-danger removePosition')
            .attr('href', '#')
            .attr('title', $('#remove_text').html())
            .css('padding-left', '16px')
            .appendTo(span);

        var i = $('<i/>')
            .addClass('fa fa-times fa-fw')
            .html("&nbsp;")
            .appendTo(a);

        if (!setDefault) {
            defaultBtn.css('display', 'none');
        } else {
            setDefaultBtn.css('display', 'none');
        }
    }

    function loadUserPosition(orgId, userList, orgName) {
        $('#organization_userPositionForm').find('input[name="orgId"]').val(orgId);
        $('#organization_userPositionForm').find('small[name="displayName"]').html(orgName);
        $.each(userList, function() {
            addUserPosition(this['userAccountId'], this['displayName'], this['function'], this['default']);
        })
    }

    function clearUserPositionForm() {
        $('#organization_userPositionForm').css('display', 'none').find('input').val('');
        $('#organization_userPositionList').html('');
        enableTreeButtons();
    }

</script>
