<div id="contain" data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-check-square-o "></i>
                Expense reports to validate
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-primary">
                    <div class="panel-heading clearfix">
                        <div class="pull-left">
                            <h4>[?merge expenseReports.count() ?] <span>Expense report(s)</span></h4>
                        </div>
                    </div>
                    <div class="panel-body" style="padding: 0;">
                        <table class="table table-condensed dataTable" id="listExpenseReportToValidate" style="margin: 0;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Service</th>
                                    <th>Description</th>
                                    <th>Begin date</th>
                                    <th>End date</th>
                                    
                                    <th style="min-width:160px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <?merge expenseReports ?>
                                <tr id="[?merge .expenseReportId ?]">
                                    <td><?merge .personalName ?></td>
                                    <td><?merge .serviceName ?></td>
                                    <td><?merge .description ?></td>
                                    <td><span class="hide"><?merge .beginDate.format("Ymd") ?></span><?merge .beginDate ?></td>
                                    <td><span class="hide"><?merge .endDate.format("Ymd") ?></span><?merge .endDate ?></td>
                                    <td>
                                        <div class="btn-group pull-right">
                                            <button type="button" class="viewExpenseReport btn btn-primary" data-expenseReportId="[?merge .expenseReportId ?]" title="View">
                                                <span class="fa fa-fw fa-eye"></span>
                                            </button>
                                            <button type="button" class="validateExpenseReport btn btn-success" data-expenseReportId="[?merge .expenseReportId ?]" title="Validate">
                                                <span class="fa fa-fw fa-check"></span>
                                            </button>
                                            <button type="button" class="rejectExpenseReport btn btn-danger" data-expenseReportId="[?merge .expenseReportId ?]" title="Reject">
                                                <span class="fa fa-fw fa-remove"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalRejectMessage" tabindex="-1" data-translate-catalog="businessExpenses/expenseReport">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Reject expense report</h4>
            </div>
            <div class="modal-body">
                <div class="form">
                    <div class="form-group">
                        <label>Comment</label>
                        <textarea class="form-control" rows="4" id="rejectComment" placeholder="You can write a comment here"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="rejectExpenseReport">Reject</button>
            </div>
        </div>
    </div>
</div>
<script type="application/javascript">

//Validate
$("#listExpenseReportToValidate").on('click', '.validateExpenseReport', function() {
   var expenseReportId = $(this).attr("data-expenseReportId");

    $(this).prop("disabled", true);

    $.ajax({
        type: "GET",
        url: '/expenseReport/' + expenseReportId + '/Validate',
        dataType: 'json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                load("/expenseReport/validator/index");
            }
        }
    });

    $(this).prop("disabled", false);
});

//Reject
$("#listExpenseReportToValidate").on('click', '.rejectExpenseReport', function() {
    var expenseReportId = $(this).attr("data-expenseReportId");
    $("#rejectExpenseReport").attr("data-expenseReportId", expenseReportId);
    $("#rejectComment").val("");
    $("#modalRejectMessage").modal();
});

//Reject
$("#modalRejectMessage").on('click', '#rejectExpenseReport', function() {
    var expenseReportId = $(this).attr("data-expenseReportId");

    var rejectExpenseReport = new Object();
    rejectExpenseReport.expenseReportId = expenseReportId; // NOT NULL
    rejectExpenseReport.validatorComment = $("#rejectComment").val();
        
    var parameters = {
        rejectExpenseReport : rejectExpenseReport
    }
    
    $(this).prop("disabled", true);

    $.ajax({
        type: "PUT",
        url: '/expenseReport/Reject',
        data: JSON.stringify(parameters),
        dataType: 'json',
        contentType: 'application/json',
        async: false,
        success: function (response) {
            gritter.show(response.message, response.status, response.errors);
            if (response.status == true) {
                $("#rejectComment").val("");
                $('#modalRejectMessage').modal("hide");
                setTimeout(function(){
                    load("/expenseReport/validator/index");
                }, 250);
            }
        }
    });

    $(this).prop("disabled", false);
});

//view
$("#listExpenseReportToValidate").on('click', '.viewExpenseReport', function() {
    var expenseReportId = $(this).attr("data-expenseReportId");

    load("/expenseReport/" + expenseReportId + "/viewvalidator");
});

</script>