<div data-translate-catalog="businessExpenses/expenseReport">
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <i class="fa fa-tasks-open-o"></i>
                Visualization of an expense report
            </h1>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-3">
            <?merge expenseReport ?>
            <form class="well" id="formExpenseReport">
                <input type="hidden" name="expenseReportId" id="expenseReportId" value="" />
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" name="description" id="description" readonly/>
                </div>
                <div class="form-group">
                    <label for="beginDate">Begin date</label>
                    <input type="text" class="form-control" name="beginDate" id="beginDate" readonly/>
                </div>
                <div class="form-group">
                    <label for="endDate">End date</label>
                    <input type="text" class="form-control" id="endDate" name="endDate" readonly/>
                </div>
                <div class="form-group">
                    <label for="serviceId">Service</label>
                    <input type="text" class="form-control" id="serviceName" name="serviceName" readonly/>
                </div>
            </form>
            <div class="clearfix">
                <?merge expenseReport.status.ifeq("inValidation") ?>
                <div class="pull-right" id="expenseReportBtnGrp">
                    <button type="button" class="btn btn-warning" data-cancel="" title="Cancel" data-url="/expenseReport/validator/index"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                </div>
                <?merge expenseReport.status.ifne("inValidation") ?>
                <div class="pull-right" id="expenseReportBtnGrp">
                    <button type="button" class="btn btn-warning" data-cancel="" title="Cancel"  data-url="/expenseReport/validator/history"><i class="fa fa-undo">&nbsp;</i>Cancel</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <?hinclude businessExpenses/expenseReportValidator/expenseLinesTables.html ?>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#expenseReportBtnGrp').on('click', '[data-cancel]', function () {
            load($(this).attr("data-url"));
        });
        
        //Validate
        $("#expenseReportBtnGrp").on('click', '.validateExpenseReport', function() {
           var expenseReportId = $(this).attr("data-expenseReportId");

            $(this).prop("disabled", true);

            $.ajax({
                type: "GET",
                url: '/expenseReport/' + expenseReportId + '/Validate',
                dataType: 'json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/expenseReport/validator/index");
                    }
                }
            });

            $(this).prop("disabled", false);
        });

        //Reject
        $("#expenseReportBtnGrp").on('click', '.rejectExpenseReport', function() {
            var expenseReportId = $(this).attr("data-expenseReportId");

            $(this).prop("disabled", true);

            $.ajax({
                type: "GET",
                url: '/expenseReport/' + expenseReportId + '/Reject',
                dataType: 'json',
                async: false,
                success: function (response) {
                    gritter.show(response.message, response.status, response.errors);
                    if (response.status == true) {
                        load("/expenseReport/validator/index");
                    }
                }
            });

            $(this).prop("disabled", false);
        });
    });

</script>
