<ol class="breadcrumb pull-right">
    <li>
        <a onclick="load('index.html')">
            <i class="fa fa-home"></i>
            Maarch
        </a> 
    </li>
    <li>
        <a onclick="load('index.html')">Maarch</a> 
    </li>
    <li>
        <a onclick="load('index.html')">Controller</a> 
    </li>
    <li class="active">action</li>
</ol>