<nav class="navbar navbar-default navbar-fixed-top" role="navigation" data-translate-catalog translate="no" data-translate-context="layout">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" onclick="load('/', 'HTML_NO_LAYOUT')">
                <img class="img-responsive pull-left" style="max-width:32px; max-height:32px;" src="/presentation/img/maarch_box_outline.png" />
                &nbsp; 
                <span style='font-family:electrolize;'>
                    <span style='font-size:32px; font-weight:bold;'>Business Expenses</span>
                </span>
            </a>

        </div>
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <?merge .positions.count().ifgt(0) ?>
            <li class="dropdown" >
                <a class="dropdown-toggle" data-toggle="dropdown" onclick="load('#')">
                    <i class="fa fa-sitemap fa-fw" ></i>&nbsp;<span name="currentOrganization" ><?merge .currentOrganization.displayName ?></span>&nbsp;&nbsp;<?merge .positions.count().ifgt(1) ?><i class="fa fa-caret-down"></i>
                </a>
                <?merge .positions.count().ifgt(1) ?>
                <ul class="dropdown-menu dropdown-user">
                    <?merge .positions ?>
                    <li>
                        <a onclick="load('#')" name="selectOrg" data-orgid="[?merge .orgId?]">
                            <span name="selectedOrgUnit"><?merge .organization.orgName ?></span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" id="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" onclick="load('#')" id="dropUsers">
                    <?merge .user.displayName.ifeq('')?><div><i class="fa fa-user fa-fw">&nbsp;</i><?merge .user.userName ?>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></div>
                    <?merge .user.displayName.ifne('')?><div><i class="fa fa-user fa-fw">&nbsp;</i><?merge .user.displayName ?>&nbsp;&nbsp;<i class="fa fa-caret-down"></i></div>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <!--li>
                        <a onclick="load('#')" data-current-userId="[?merge .user.accountId?]" translate="yes">
                            <i class="fa fa-user fa-fw"></i> Profile
                        </a>
                    </li>
                    <li class="divider"></li-->
                    <li>
                        <a onclick="load('/user/logout')" translate="yes">
                            <i class="fa fa-sign-out fa-fw"></i> Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<!--script src="/public/TestReplay/testReplay.js"></script-->

<script>
    /* @license magnet:?xt=urn:btih:1f739d935676111cfff4b4693e3816e664797050&dn=gpl-3.0.txt GPLv3 or later */

    function load(url, data)
    {
        var loading = false;

        if (url == "#") {
            return;
        }
        
        setTimeout(function () {
            if (!loading) {
                $("#loadingModal").css('display', '');
            }
        }, 500);

        $("#app_businessExpenses_main").empty();
        $.ajax({
            type: 'GET',
            url: url,
            data: data,
            dataType: 'html',
            success: function (response) {
                loading = true;
                // Avoid multiple script src requests  
                window.history.pushState({"html": response.html}, "", url);
                $('#app_businessExpenses_main').html(response)
                    .find('script').each(function () {
                        if ($('script[src="' + $(this).attr("src") + '"]').length) {
                            $(this).remove();
                        }
                    })
                    .find('link').each(function () {
                        if ($('link[href="' + $(this).attr("href") + '"]').length) {
                            $(this).remove();
                        }
                    });

                $("#loadingModal").css('display', 'none');
            }
        });
    }
    function back(url, data)
    {
        if (url == "#") {
            return;
        }
        if (url.indexOf("#") > 0) {
            return;
        }

        $("#loadingModal").show();
        $.ajax({
            type: 'GET',
            url: url,
            data: data,
            dataType: 'html',
            async: false,
            success: function (response) {
                var $html = $('<div/>').html(response);
                $html.find('script').each(function () {
                    if ($('script[src="' + $(this).attr("src") + '"]').length) {
                        $(this).remove();
                    }
                });
                $html.find('link').each(function () {
                    if ($('link[href="' + $(this).attr("href") + '"]').length) {
                        $(this).remove();
                    }
                });

                $('#app_businessExpenses_main').empty();

                $('#app_businessExpenses_main').append($html);
                $("#loadingModal").hide();

            }
        });
    }

    window.onpopstate = function (e) {
        back(window.location.href);
    };

    window.onbeforeunload = function (e) {
    };

    $(document).ready(function () {
        $('#side-menu').metisMenu();

        // sidebar
        $(window).bind("load resize", function () {
            $('#page-wrapper').css('min-height', $(window).height() - 50);
            if ($(this).width() < 768) {
                $('div.sidebar-collapse').addClass('collapse');
            } else {
                $('div.sidebar-collapse').removeClass('collapse');
            }
        });

        $('#showSidebar').fadeOut(0);

        $('[name="selectOrg"]').on('click', function () {
            var orgId = $(this).attr('data-orgid');

            $('[name="currentOrganization"]').text($(this).find('[name="selectedOrgUnit"]').first().text());
            $.ajax({
                type: "PUT",
                url: "/currentPosition/"+ orgId,
                async: false
            });

            var location = window.location.pathname.split('/');
            location.splice(0, 1);
            load("/"+location.join("/"));
        });

        $('[data-current-userId]').on('click', function () {
            load("/userInfo/edit/" + $(this).attr('data-current-userId'));
        });
    });
    $(document).on("click", '#hideSidebar', function () {
        $("#sidebar-wrapper").fadeOut(200, function () {
            $("#page-wrapper").animate({marginLeft: '0px'}, 250, function () {
                $('#showSidebar').fadeIn();
            });
        });
    });

    $(document).on("click", '#showSidebar', function () {
        $('#showSidebar').fadeOut();
        $("#page-wrapper").animate({marginLeft: '250px'}, 250, function () {
            $("#sidebar-wrapper").fadeIn();
        });
    });

    //Haut, haut, bas, bas, gauche, droite, gauche, droite, B, A
    var k = [38, 38, 40, 40, 37, 39, 37, 39, 66, 65];
    var n = 0;
    $(document).keydown(function (e) {
        if (e.keyCode === k[n++]) {
            if (n === k.length) {
                n=0;
                $(this).raptorize({
                    'enterOn' : 'timer', //timer, konami-code, click
                    'delayTime' : 1000 //time before raptor attacks on timer mode
                });
                
                return !1;
            }
        } else
            k = 0;
    });

</script>